<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="my-4">
    <a routerLink="/campaigns/{{ campaignAddress }}">ᐊ Back to Campaign</a>
  </div>

  <h1 class="my-2 text-2xl uppercase">
    Add tokens to campaign
  </h1>

  <ng-container *ngIf="(addTokensData$ | async) as dataRes">
    <ng-container *ngIf="dataRes.value as data">
      <form [formGroup]="addTokensForm">
        <div class="mt-2">
          <label class="block" for="amount">Add amount</label>
          <input type="number" min="0" id="amount" formControlName="amount"/>
        </div>

        <div>
          Token balance: {{ data.balance | formatUnit:'bignumToWei' | currencyDefault:data.asset.symbol }}
        </div>

        <button app-action-button
                class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
                text="Send"
                [disabled]="!addTokensForm.dirty || !addTokensForm.valid"
                [onClick]="addTokens(data.campaign).bind(this)">
        </button>
      </form>
    </ng-container>

    <ng-container *ngIf="dataRes.error">
      Cannot fetch campaign.
      <div hidden>{{ dataRes.error | json }}</div>
    </ng-container>

    <ng-container *ngIf="dataRes.loading">
      Fetching Campaign...
    </ng-container>
  </ng-container>
</div>
