<ng-container *ngIf="display === 'wide' || display === 'narrow'">
  <div class="flex flex-col lg:flex-row text-sm flex-row lg:gap-8">
    <div *ngIf="hasReturnRate">
      <span class="font-bold lg:text-lg">{{ returnRateRange }}</span>
      <span class="ml-2 font-light" [class.text-sm]="display === 'wide'">
        {{ returnRateFrequency | titlecase }} interest rate
      </span>
    </div>

    <ng-container *ngIf="(campaignBasic$ | async) as campaignBasic">
      <div class="mt-1 lg:mt-auto" *ngIf="shouldShowMin">
        <span class="font-bold lg:text-lg">
          {{ campaignBasic.minInvestment | formatUnit:'bignumToWei' | currencyDefault }}
        </span>
        <span class="ml-2 font-light" [class.text-sm]="display === 'wide'">Minimum investment</span>
      </div>

      <div class="mt-1 lg:mt-auto" *ngIf="shouldShowMax">
        <span class="font-bold lg:text-lg">
          {{ campaignBasic.maxInvestment | formatUnit:'bignumToWei' | currencyDefault }}
        </span>
        <span class="ml-2 font-light text-sm">Max investment</span>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="display === 'return-only'">
  <div *ngIf="hasReturnRate" class="mt-4 rounded-full px-4 py-2 bg-gray-100 flex items-center">
    <span class="font-semibold">{{ returnRateRange }}</span>
    <span class="text-sm ml-2">Expected {{ returnRateFrequency }} return on investment</span>
  </div>
</ng-container>

<ng-container *ngIf="hidden$ | async"></ng-container>
