<div class="text-gray-700" *ngIf="sendRequests$ | async as sendRequests">
    <div class="flex flex-row justify-center bg-gray-100 text-sm">
        <div class="w-1/5 text-center pt-4 pb-4 font-semibold">Amount</div>
        <div class="w-1/5 text-center pt-4 pb-4 font-semibold">Created at</div>
        <div class="w-1/5 text-center pt-4 pb-4 font-semibold">Token</div>
        <div class="w-1/5 text-center pt-4 pb-4 font-semibold">Status</div>
        <div class="w-1/5 text-center pt-4 pb-4 font-semibold">URL</div>
    </div>
    <div *ngIf="assets$ | async as assets" class="text-sm font-medium">
        <div *ngIf="sendRequests.requests.length > 0; else noRequests">
            <div class="flex flex-row justify-center" 
            *ngFor="let request of sendRequests.requests; let i = index">
                <div *ngIf="assets[i] | async as asset" class="w-1/5 text-center pt-2 pb-2 border-t flex flex-col justify-center">
                    {{ request.amount
                        | formatUnit:'token':asset.decimals
                        | currencyDefault:'token':'real':asset.symbol }}
                </div>
                <div class="w-1/5 text-center pt-2 pb-2 border-t flex flex-col justify-center">
                    {{request.created_at | date:'short'}}
                </div>
                <div class="w-1/5 text-center border-t flex flex-col justify-center" >
                    <div *ngIf="assets[i] | async as asset; else loading">
                        {{asset.name}}
                    </div>
                    <ng-template #loading>
                        Loading...
                    </ng-template>
                </div>
                <div class="w-1/5 flex flex-col justify-center text-center border-t">
                    <div [class.bg-amber-50] = "request.status === 'PENDING'"
                    [class.text-amber-700] = "request.status === 'PENDING'"
                    [class.bg-green-50] = "request.status === 'SUCCESS'"
                    [class.text-green-700] = "request.status === 'SUCCESS'"
                    class="m-2 px-4 py-2 rounded-lg text-xs font-semibold tracking-wider">
                        {{request.status}}
                    </div>
                </div>
                <div class="w-1/5 flex flex-col justify-center text-center border-t">
                    <a [href]="request.redirect_url" 
                        class="m-2 cursor-pointer px-4 py-2 bg-gray-200 hover:bg-gray-300 transition-all
                        rounded-full text-xs uppercase font-medium flex flex-row justify-center items-center">
                        <div class="mr-2 font-semibold flex flex-col justify-center">Open URL</div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                          </svg>
                    </a>
                </div>  
            </div>
        </div>
            
           
        <ng-template #noRequests>
            <div class="flex flex-row justify-center items-center py-16">
                You don't have any active payment requests.
            </div> 
        </ng-template>
    </div>
</div>

<div class="flex flex-row justify-center items-center py-16" *ngIf="(sendRequests$ | async) === null">
    <app-spinner></app-spinner>
</div>