<div class="flex flex-col">
  <a routerLink="offers" routerLinkActive="border-r-2 border-blue-500 bg-gray-50"
     class="px-5 py-3 hover:border-r-2 transform transition-colors ease-in-out">
    Offers
  </a>
  <a routerLink="portfolio" routerLinkActive="border-r-2 border-blue-500 bg-gray-50"
     class="px-5 py-3 hover:border-r-2 transform transition-colors ease-in-out">
    Portfolio
  </a>
  <a routerLink="wallet" routerLinkActive="border-r-2 border-blue-500 bg-gray-50"
     class="px-5 py-3 hover:border-r-2 transform transition-colors ease-in-out">
    Wallet
  </a>
</div>
