<ng-container *ngIf="data$ | async as data">

  <div class="flex justify-center mb-4 mt-8">
    <div class="flex justify-center w-24 h-24">
      <img
        class="h-full w-full object-cover"
        src="/assets/dialog-icons/waiting.gif"
        alt="Waiting icon"
      />
    </div>
  </div>

  <div class="px-8 pt-4 pb-8 max-w-sm mx-auto">
    <h3 class="text-center text-gray-700 font-medium">
      {{ data.title }}
    </h3>

    

    <p *ngIf="data.message" class="text-center text-sm text-gray-700 mt-4">
      {{ data.message }}
    </p>
  </div>
</ng-container>
