<div class="flex flex-col">
  <span class="text-3xl text-indigo-800">Related campaigns:</span>
  <ng-container *ngIf="(campaigns$ | async) as campaignsRes">

    <ng-container *ngIf="campaignsRes.value as campaigns">
      <ng-container *ngIf="campaigns.length === 0">
        <div class="flex flex-col items-center justify-center lg:flex-row w-full h-36 mt-4 mb-8 shadow-xl rounded-4xl
                    bg-white text-indigo-800">
          No related campaigns.
        </div>
      </ng-container>

      <ng-container *ngFor="let campaign of campaigns">
        <app-admin-campaign-item [asset]="asset" [campaign]="campaign" type="view-screen"></app-admin-campaign-item>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="campaignsRes.error">
      <div class="flex flex-col items-center justify-center lg:flex-row w-full h-36 mt-4 mb-8 shadow-xl rounded-4xl
                  bg-white text-indigo-800">
        Cannot fetch related campaigns.
        <div hidden>{{ campaignsRes.error | json }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="campaignsRes.loading">
      <div class="flex flex-col items-center justify-center lg:flex-row w-full h-36 mt-4 mb-8 shadow-xl rounded-4xl
                  bg-white text-indigo-800">
        <app-spinner type="inline-base"></app-spinner>
      </div>
    </ng-container>
  </ng-container>
</div>
