<div class="pr-4 pt-2">
  <div class="w-full bg-white p-8 ml-4 shadow-sm rounded-lg flex flex-col">
    <div class="flex flex-row justify-between">
      <div
        (click)="tabClicked(Tab.AddressBook)"
        [class.active-content-item]="activeTab === Tab.AddressBook"
        class="w-44 text-center flex flex-row items-center justify-center text-sm uppercase pb-2 border-b-4 font-semibold text-gray-500 cursor-pointer"
      >
        Address Book
      </div>
      <div
        (click)="tabClicked(Tab.Add)"
        [class.bg-violet-700]="activeTab === Tab.Add"
        [class.!text-white]="activeTab === Tab.Add"
        class="w-44 text-center text-sm flex flex-row items-center m-2
        bg-gray-100 border-gray-300 border rounded-lg 
        justify-center pb-2 font-semibold text-gray-700 uppercase py-2 cursor-pointer"
      >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div class="ml-2">Add</div>
        
      </div>
    </div>
  
    <ng-container *ngIf="activeTab === Tab.Add">
      <div class="border p-8 rounded-tr-lg rounded-b-lg flex flex-col text-gray-700">
        <form [formGroup]="addressBookEntryForm" class="flex flex-col" action="">
          <label for="wallet-address" class="font-semibold">Wallet address</label>
          <small
            >Paste the wallet address you want to add to your address book</small
          >
          <input
            id="wallet-address"
            formControlName="wallet"
            placeholder="0xaDd"
            class="border-gray-200 rounded-lg w-full mt-2 text-sm"
            type="text"
          />
  
          <label for="alias" class="font-semibold mt-4">Alias</label>
          <small
            >Enter the alias for the account. Alias is a human readable
            description, through which you will be able to get the address.</small
          >
          <input
            id="alias"
            formControlName="alias"
            class="border-gray-200 rounded-lg w-full mt-2 text-sm"
            placeholder="(e.g. franks-wallet)"
            type="text"
          />
  
          <hr class="mt-8 mb-8" />
  
          <div class="flex flex-row">
            <div class="flex flex-col w-6/12 pr-4">
              <label for="phone" class="font-semibold">Phone (optional)</label>
              <small
                >If you wish, you can add the phone number of the user.</small
              >
              <input
                id="phone"
                formControlName="phone"
                class="border-gray-200 rounded-lg w-full mt-2 text-sm"
                placeholder="Phone number"
                type="text"
              />
            </div>
            <div class="flex flex-col w-6/12 pl-4">
              <label for="email" class="font-semibold">Email (optional)</label>
              <small>If you wish, you can add the email of the user.</small>
              <input
                formControlName="email"
                id="email"
                class="border-gray-200 rounded-lg w-full mt-2 text-sm"
                placeholder="Email"
                type="text"
              />
            </div>
          </div>
          <button app-action-button
          text="Add entry"
          [onClick]="addEntryClicked().bind(this)"
          class="app-button mt-4" type="submit" [disabled]="!addressBookEntryForm.valid"></button>
        </form>
      </div>
    </ng-container>
  
    <ng-container *ngIf="activeTab === Tab.AddressBook">
      <div
        class="border-gray-100 border-2 p-3 flex flex-row text-gray-700 bg-gray-100 rounded-tr-lg"
      >
        <div class="w-3/12 text-sm text-center font-semibold">Alias</div>
        <div class="w-2/12 text-sm text-center font-semibold">Address</div>
        <div class="w-2/12 text-sm text-center font-semibold">Phone</div>
        <div class="w-3/12 text-sm text-center font-semibold">Email</div>
      </div>
  
      <div *ngIf="addresses$ | async as addresses; else loading">
        <div *ngIf="addresses.entries.length === 0; then noEntries"></div>
        <div
        *ngFor="let item of addresses.entries"
        class="border-gray-100 border-x border-b p-4 flex flex-row cursor-pointer"
      >
        <div class="w-3/12 text-sm flex flex-row justify-center items-center">
          <div class="mr-2">{{ item.alias }}</div>
          <app-value-copy [value]="item.alias"></app-value-copy>
        </div>
        <div class="w-2/12 text-sm flex flex-row justify-center items-center text-center">
          <div class="mr-2 text-center">
            {{ item.address | addrShort }}
          </div>
          <app-value-copy [value]="item.address"></app-value-copy>
        </div>
        <div class="w-2/12 text-sm text-center flex flex-row justify-center">
          <div
            *ngIf="item.phone_number.length > 0; else noData"
            class="flex flex-row items-center justify-center"
          >
            <div class="mr-2">{{ item.phone_number }}</div>
            <app-value-copy [value]="item.phone_number"></app-value-copy>
          </div>
  
        </div>
        <div class="w-3/12 text-sm text-center flex flex-row justify-center items-center">
          <div *ngIf="item.email.length > 0; else noData">
            {{ item.email }}
            <app-value-copy class="ml-2" [value]="item.email"></app-value-copy>
          </div>
        </div>
        <button app-action-button [onClick]="deleteAddressBookEntry(item.id).bind(this)"
         text="Delete"
         class="w-2/12 text-red-800 py-2 cursor-pointer shadow-sm hover:shadow-xl tracking-wider
          text-xs font-semibold uppercase bg-red-100 rounded-full hover:bg-red-700 hover:text-white">
        </button>
      </div>
      </div>
      
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="w-full border flex flex-row py-16 justify-center items-center">
    <app-spinner></app-spinner>
  </div>
</ng-template>


<ng-template #noData>
  <div
    class="px-2 py-2 w-32 text-amber-600 border-amber-100 border bg-amber-50 rounded-lg flex flex-row justify-center text-xs font-semibold"
  >
    Not available
  </div>
</ng-template>

<ng-template #noEntries>
  <div class="w-full border flex flex-row text-sm py-16 justify-center items-center">
    No address book entries
  </div>
</ng-template>