<div class="w-full bg-white p-8 m-4 rounded-lg flex flex-col">

    <div class="flex flex-row justify-center">
        <div (click)="tabClicked(0)" [class.active-content-item]="selectedTabIndex === 0" 
        class=" w-44 text-center text-sm uppercase pb-2 border-b-4 font-semibold text-gray-500 cursor-pointer">
            Address Book
        </div>
        <div (click)="tabClicked(1)" [class.active-content-item]="selectedTabIndex === 1" 
        class=" w-44 text-center text-sm font-semibold text-gray-500 uppercase border-b-4 cursor-pointer">
            Add
        </div>
    </div>

    <ng-container *ngIf="selectedTabIndex === 1">
        New Address
    </ng-container>

    <ng-container *ngIf="selectedTabIndex === 0">
        <div class=" border-gray-100 border-2 p-4 flex flex-row bg-gray-100 rounded-t-lg">
            <div class="w-6/12 text-sm uppercase font-semibold">Alias</div>
            <div class="w-6/12 text-sm uppercase font-semibold">Address</div>
        </div>
    
        <div *ngFor="let item of addresses" class=" border-gray-100
         hover:bg-violet-100 border-2 p-4 flex flex-row
         cursor-pointer">
            <div class="w-6/12 text-sm">{{item.alias}}</div>
            <div class="w-6/12 text-sm">{{item.address}}</div>
        </div>
       
    </ng-container>
    

    

</div>