<ng-container *ngIf="progressData as data">
  <ng-container *ngIf="campaign">
    <div *ngIf="data.raised < data.total && data.total >= data.softCap">
      <span class="mt-6 font-bold text-gray-800 text-sm">{{ data.raised | currencyDefault }}</span>
      <span class="mx-1 text-sm">of</span>
      <span class="mt-6 font-bold text-gray-800 text-sm">{{ data.softCap | currencyDefault }}</span>
      <div class="relative h-2 mb-2 pt-1 mt-2">
        <!-- Progress tray -->
        <div class="absolute w-full h-full rounded bg-gray-200"></div>

        <!-- Progress amount -->
        <div class="absolute h-full rounded bg-indigo-800"
             [style.width.%]="data.raisedPercentage * 100"></div>

        <!-- Soft cap value -->
        <div class="absolute h-full"
             *ngIf="data.total > data.softCap"
             matTooltip="Soft cap {{ data.softCap | currencyDefault }}"
             [style.left.%]="data.softCapPercentage * 100">
          <div class="absolute rounded-full w-4 h-4 -ml-2 -mt-1"
               [class]="data.raised >= data.softCap ? 'bg-indigo-800' : 'bg-gray-200'"></div>
          <div class="absolute rounded-full w-2 h-2 -ml-1 bg-white"></div>
        </div>

        <!-- Total value -->
        <div class="absolute h-full w-1 right-0"
             matTooltip="Total {{ data.total | currencyDefault }}"></div>
      </div>
      <div class="flex justify-between">
        <div class="font-bold text-indigo-800 text-sm uppercase">
          {{ (data.raisedPercentage / data.softCapPercentage) | percent }} funded
        </div>
        <div class="font-light text-gray-400 text-sm">{{ dateRange() }}</div>
      </div>
    </div>
    <div *ngIf="data.raised >= data.total || data.softCap > data.total">
      <div>
          <span class="mt-6 font-bold text-indigo-900 text-lg uppercase">
            {{ data.raised | currencyDefault }}
          </span> raised
      </div>

      <div class="flex justify-between mt-2">
        <div *ngIf="campaign.finalized" class="font-bold text-indigo-800 text-sm uppercase">
          finished
        </div>

        <div class="font-light text-gray-400 text-sm">{{ dateRange() }}</div>
      </div>
    </div>
  </ng-container>
</ng-container>
