<div *ngIf="(progressData$ | async) as dataRes" class="flex items-center justify-center min-h-[5rem]">
  <ng-container *ngIf="dataRes.value as data">
    <ng-container *ngIf="campaign">
      <div *ngIf="data.raised.lt(data.total) && data.total.gte(data.softCap)" class="w-full">
        <span class="mt-6 font-semibold text-cyan-600 text-lg">
          {{ data.raised | formatUnit:'stablecoin' | currencyDefault:'stablecoin':'implicit' }}
        </span>
        <span class="mx-1 text-sm text-gray-500">raised</span>

        <div class="relative h-8 rounded-lg overflow-hidden grid mb-2 pt-1">
          <!-- Progress tray -->
          <div class="absolute w-full h-full bg-cyan-500/50"></div>

          <!-- Progress amount -->
          <div class="absolute h-full bg-gradient-to-r from-sky-600 to-cyan-500"
               [style.width.%]="(data.isRaisedOverSoftCap ? data.raisedPercentageOfTotal : data.raisedPercentageOfSoftCap) * 100"></div>

          <!-- Percentage funded -->
          <div class="absolute h-full font-bold text-white uppercase
                      flex items-center pl-2">
            <span>{{ data.raisedPercentageOfSoftCap | percent:'1.0-2' }} funded</span>
          </div>

          <!-- Soft cap value point -->
          <div class="absolute h-full"
               *ngIf="data.isRaisedOverSoftCap"
               matTooltip="Soft cap {{ data.softCap | formatUnit:'stablecoin' | currencyDefault:'stablecoin':'implicit' }}"
               [style.left.%]="data.softCapPercentage * 100">
            <div class="absolute w-0 h-full border-dashed border-r-2 border-white"></div>
          </div>

          <!-- Total value -->
          <div class="absolute h-full w-1 right-0"
               *ngIf="data.isRaisedOverSoftCap"
               matTooltip="Total {{ data.total | formatUnit:'stablecoin' | currencyDefault:'stablecoin':'implicit' }}"></div>
        </div>
        <div class="flex justify-between">
          <div class="text-sm">
            <span>Rising</span>
            <span class="font-bold">
              {{ data.softCap | formatUnit:'stablecoin' | currencyDefault:'stablecoin':'implicit' }}
            </span>
          </div>
          <div class="font-light text-gray-500 text-sm">{{ dateRange(campaign) }}</div>
        </div>
      </div>

      <div *ngIf="data.raised.gte(data.total) || data.softCap.gt(data.total)" class="w-full">
        <div>
          <span class="mt-6 font-bold text-cyan-600 text-lg uppercase">
            {{ data.raised | formatUnit:'stablecoin' | currencyDefault:'stablecoin':'implicit' }}
          </span> raised
        </div>

        <div class="flex justify-between mt-2">
          <div *ngIf="campaign.finalized" class="font-bold text-cyan-600 text-sm uppercase">
            finished
          </div>

          <div class="font-light text-gray-500 text-sm">
            {{ dateRange(campaign) }}
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="dataRes.loading">
    <app-spinner type="inline-xs"></app-spinner>
  </ng-container>

  <ng-container *ngIf="dataRes.error">
    Cannot fetch funding progress.
    <div hidden>{{ dataRes.error | json }}</div>
  </ng-container>
</div>
