<div class="px-2 relative overflow-hidden">
  <div id="google_translate_element" class="absolute opacity-0 h-6 overflow-hidden"></div>
  <div class="flex gap-2 items-center">
    <div>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3 5H15M9 3V5M10.048 14.5C8.5081 12.9059 7.27548 11.0413 6.412 9M12.5 18H19.5M11 21L16 11L21 21M12.751 5C11.783 10.77 8.07 15.61 3 18.129"
          stroke="#3F3F46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div>
      <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.000327261 1.07708L6.07715 6.93555L11.9356 0.858726L0.000327261 1.07708Z" fill="#374151"/>
      </svg>
    </div>
  </div>
</div>
