<div class="px-2 relative overflow-hidden">
  <div
    id="google_translate_element"
    class="absolute opacity-0 h-6 overflow-hidden"
  ></div>
  <div class="flex gap-2 items-center">
    <div>
      <svg
        class="w-4 h-4"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19 10a9 9 0 0 1-9 9m9-9a9 9 0 0 0-9-9m9 9H1m9 9a9 9 0 0 1-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m0 0a9 9 0 0 0-9 9"
          stroke="#3F3F46"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div>
      <svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.000327261 1.07708L6.07715 6.93555L11.9356 0.858726L0.000327261 1.07708Z"
          fill="#374151"
        />
      </svg>
    </div>
  </div>
</div>
