<div class="w-full h-full flex justify-center mt-8 px-2 pb-8">
  <div class="w-full max-w-6xl">
    <div
      class="text-gray-700 flex flex-col gap-2 w-full justify-start bg-white rounded-4xl p-8"
    >
      <form [formGroup]="createForm">
        <h1 class="text-2xl text-indigo-900 mb-8">
          Set up your asset and its related token
        </h1>
        <div class="flex flex-col lg:flex-row">
          <div class="relative w-full lg:w-1/3">
            <div class="flex justify-center w-full absolute top-32 lg:top-40">
              <label
                class="flex items-center gap-4 px-8 py-2 rounded-full bg-emerald-600 text-white text-lg cursor-pointer"
              >
                <input
                  class="hidden"
                  type="file"
                  formControlName="logo"
                  multiple
                />
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 1V6M6 6V11M6 6H11M6 6H1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Upload logo</span>
              </label>
            </div>
            <img
              *ngIf="createForm.get('logo')?.value?.[0]; else noImage"
              class="w-full h-48 lg:h-56 object-cover"
              [src]="(createForm.get('logo')?.value?.[0] | safe:'fileUrl') | toUrlIPFS"
              alt="Asset logo"
            />
            <ng-template #noImage>
              <div class="w-full h-48 lg:h-56 bg-gray-200"></div>
            </ng-template>
          </div>

          <div class="lg:flex lg:flex-col lg:justify-between">
            <div class="flex flex-col lg:flex-row gap-2 mt-4 lg:mt-0 lg:ml-4">
              <div class="flex flex-col gap-2 lg:w-1/2 lg:mr-4">
                <div class="flex flex-col gap-1">
                  <label class="text-lg font-semibold"> Asset name </label>
                  <span class="text-xs">
                    Which is the asset you want to tokenize?
                  </span>
                </div>
                <input
                  class="border-gray-400 rounded-lg"
                  type="text"
                  formControlName="name"
                />
              </div>

              <div
                class="flex flex-row bg-gray-100 gap-2 p-4 my-4 lg:my-0 rounded-lg lg:w-1/2"
              >
                <div>
                  <svg
                    width="26"
                    height="26"
                    viewBox="0 0 26 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.884 19.6667H16.1147M13 1V2.33333M21.4853 4.51467L20.5427 5.45733M25 13H23.6667M2.33333
                             13H1M5.45733 5.45733L4.51467 4.51467M8.28533 17.7147C7.35316 16.7822 6.7184 15.5944 6.4613
                             14.3012C6.20421 13.008 6.33634 11.6677 6.84097 10.4496C7.34561 9.23154 8.20009 8.19046
                             9.29638 7.45799C10.3927 6.72553 11.6815 6.33458 13 6.33458C14.3185 6.33458 15.6073 6.72553
                             16.7036 7.45799C17.7999 8.19046 18.6544 9.23154 19.159 10.4496C19.6637 11.6677 19.7958
                             13.008 19.5387 14.3012C19.2816 15.5944 18.6468 16.7822 17.7147 17.7147L16.984
                             18.444C16.5663 18.8618 16.2349 19.3578 16.0089 19.9036C15.7829 20.4495 15.6666 21.0345
                             15.6667 21.6253V22.3333C15.6667 23.0406 15.3857 23.7189 14.8856 24.219C14.3855 24.719
                             13.7072 25 13 25C12.2928 25 11.6145 24.719 11.1144 24.219C10.6143 23.7189 10.3333 23.0406
                             10.3333 22.3333V21.6253C10.3333 20.432 9.85867 19.2867 9.016 18.444L8.28533 17.7147Z"
                      stroke="#3F3F46"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="flex flex-col text-sm gap-2">
                  <span>ASSET NAME</span>
                  <span>Try to stay within a range of 3 words max.</span>
                </div>
              </div>
            </div>

            <div class="flex flex-col lg:flex-row gap-2 lg:ml-4">
              <div class="flex flex-col gap-2 lg:w-1/2 lg:mr-4">
                <div class="flex flex-col gap-1">
                  <label class="text-lg font-semibold"> Token symbol </label>
                  <span class="text-xs">
                    A short symbol of your token, i.e. APPL (Apple), ETH
                    (Ethereum)
                  </span>
                </div>
                <input
                  class="border-gray-400 rounded-lg"
                  type="text"
                  formControlName="symbol"
                />
              </div>

              <div
                class="flex flex-row bg-gray-100 gap-2 p-4 my-4 lg:my-0 rounded-lg lg:w-1/2"
              >
                <div>
                  <svg
                    width="26"
                    height="24"
                    viewBox="0 0 26 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.9999 8.99967V11.6663M12.9999 16.9997H13.0132M3.76257 22.333H22.2372C24.2906 22.333
                             25.5732 20.1103 24.5466 18.333L15.3092 2.333C14.2826 0.555667 11.7172 0.555667 10.6906
                             2.333L1.45323 18.333C0.426566 20.1103 1.70923 22.333 3.76257 22.333Z"
                      stroke="#3F3F46"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
                <div class="flex flex-col text-sm gap-2">
                  <span>CHOOSE CAREFULLY</span>
                  <span
                    >You cannot change asset name and token symbol after they
                    are set up.</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-2 lg:w-2/3 lg:pr-7 lg:mt-4">
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-1">
              <label class="text-lg font-semibold"> Token supply </label>
              <span class="text-xs">
                Total amount of tokens you want to create. The same token can be
                used for multiple campaigns.
              </span>
            </div>
            <input
              class="border-gray-400 rounded-lg"
              type="number"
              min="0"
              formControlName="initialTokenSupply"
            />
          </div>

          <div class="flex flex-col gap-2 mb-4 w-full">
            <label class="text-lg font-semibold"> Asset flavor </label>
            <select
              class="border-gray-400 rounded-lg w-full lg:w-64 disabled:bg-gray-100"
              formControlName="flavor"
            >
              <option [value]="assetFlavor.BASIC" *ngIf="assetFactory.basic">
                Basic
              </option>
              <option
                [value]="assetFlavor.TRANSFERABLE"
                *ngIf="assetFactory.transferable"
              >
                Transferable
              </option>
              <option [value]="assetFlavor.SIMPLE" *ngIf="assetFactory.simple">
                Simple
              </option>
            </select>
          </div>

          <ng-container
            *ngIf="isAssetWhitelistable(createForm.get('flavor')?.value)"
          >
            <div class="flex flex-col gap-4 mb-4">
              <span class="text-lg font-semibold">
                Is wallet whitelisting required for revenue claim?
              </span>
              <app-form-yes-no-buttons
                formControlName="whitelistRequiredForRevenueClaim"
              ></app-form-yes-no-buttons>
            </div>

            <div class="flex flex-col gap-4 mb-4">
              <span class="text-lg font-semibold"
                >Is wallet whitelisting required for liquidation claim?</span
              >
              <app-form-yes-no-buttons
                formControlName="whitelistRequiredForLiquidationClaim"
              ></app-form-yes-no-buttons>
            </div>
          </ng-container>
        </div>

        <div class="flex justify-center lg:justify-end mt-8">
          <button
            app-action-button
            class="flex items-center justify-center gap-4 bg-indigo-800 disabled:bg-gray-400 text-white px-24 py-2 rounded-full"
            text="Done"
            [disabled]="!createForm.valid"
            [onClick]="create.bind(this)"
          >
            <ng-template #content>
              <svg
                width="14"
                height="12"
                viewBox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.1665 6.83398L4.49984 10.1673L12.8332 1.83398"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="font-semibold tracking-wider">Done</span>
            </ng-template>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
