<div class="flex">
    <div routerLink="../.." class="ml-4 mt-2 bg-gray-600 text-white rounded-full px-8 py-2 flex flex-row justify-center cursor-pointer">
        < Back
    </div>
</div>


<div class="w-full bg-white p-8 m-4 rounded-lg flex flex-row">
    <div class="w-7/12">
        <form class="flex flex-col" [formGroup]="createTokenForm">
            <!-- NAME -->
            <label class="pb-1 text-lg font-semibold" for="token-name">Token name</label>
            <small class="pb-2">The name of your token</small>
            <input class="w-100 rounded-xl border-gray-200" id="token-name" type="text" formControlName="tokenName">

            <!-- SYMBOL -->
            <label class="pb-1 mt-8 text-lg font-semibold" for="token-name">Token symbol</label>
            <small class="pb-2">Shorthand symbol for your token, also known as a "ticker" (e.g. ETH, AAPL, ...)</small>
            <input class="w-100 rounded-xl border-gray-200" id="token-name" type="text" formControlName="tokenName">

            <!-- ALIAS -->
            <label class="pb-1 mt-8 text-lg font-semibold" for="token-name">Token alias</label>
            <small class="pb-2">This is the alias you will use to access the token through the Dev3 SDK and API</small>
            <input class="w-100 rounded-xl border-gray-200" id="token-name" type="text" formControlName="tokenName">

            <!-- SUPPLY -->
            <label class="pb-1 mt-8 text-lg font-semibold" for="token-name">Token supply</label>
            <small class="pb-2">How many tokens will be created initially. If your token is burnable or mintable, this number can change. If not, this number is fixed.</small>
            <input class="w-100 rounded-xl border-gray-200" id="token-name" type="number" formControlName="tokenName">

            <label class="pb-1 mt-8 text-lg font-semibold" for="token-name">Is the token mintable?</label>
            <small class="pb-2">If yes is selected, a user or a different smart contract will have the option to create new tokens.</small>
            <div class="flex flex-row">
                <div class="px-8 py-1 bg-blue-600 text-white cursor-pointer rounded-full mr-4 border-gray-700 border-2">Yes</div>
                <div class="px-8 py-1 bg-white text-gray-700 cursor-pointer rounded-full mr-4 border-gray-700 border-2">No</div>
            </div>

            <label class="pb-1 mt-8 text-lg font-semibold" for="token-name">Who can mint the token?</label>
            <small class="pb-2">Please select the address or a smart contract which can mint the tokens</small>
            <input class="w-100 rounded-xl border-gray-200" id="token-name" type="text" formControlName="tokenName">

            <div class="flex flex-row justify-end">
                <button type="submit" class="py-2 px-10 bg-violet-700 text-white rounded-full mt-8">Create token</button>
            </div>

        </form>
    </div>
    <div class="w-5/12 pl-8">
        <div class="text-2xl font-semibold text-gray-700">ERC-20 Token</div>
        <p class="mt-4 text-sm text-gray-700">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            <br>
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. <br><br> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>
    </div>
</div>