<div class="flex flex-col lg:flex-row lg:flex-wrap gap-6 mt-8">
  <div class="flex flex-col lg:flex-row w-full justify-start shadow-xl rounded-4xl">
    <div class="relative w-full lg:w-1/3">
      <img *ngIf="campaign.photo; else noImage"
           class="w-full h-60 lg:h-full object-cover rounded-t-4xl lg:rounded-none lg:rounded-l-4xl"
           src="{{ campaign.photo | toUrlIPFS }}" alt="Issuer logo">
      <ng-template #noImage>
        <div class="w-full h-60 lg:h-full bg-gray-200 rounded-t-4xl lg:rounded-none lg:rounded-l-4xl"></div>
      </ng-template>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 w-full h-full rounded-b-4xl lg:rounded-none lg:rounded-r-4xl bg-white
                p-4 justify-between">
      <div class="flex flex-col text-sm">
        <span class="text-4xl mb-8">{{ campaign.name ?? 'Unknown' }}</span>
        <a [href]="campaignData.url" target="_blank" rel="noopener noreferrer"
           class="flex items-center justify-between gap-2 px-8 py-0.5 bg-blue-200 hover:bg-indigo-800 hover:text-white
                  break-all rounded-full transition-all duration-300">
          <span>{{ campaignData.url }}</span>
          <div>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.3335 3.00065H3.00016C2.55814 3.00065 2.13421 3.17625 1.82165 3.48881C1.50909 3.80137 1.3335
                     4.22529 1.3335 4.66732V13.0006C1.3335 13.4427 1.50909 13.8666 1.82165 14.1792C2.13421 14.4917
                     2.55814 14.6673 3.00016 14.6673H11.3335C11.7755 14.6673 12.1994 14.4917 12.512 14.1792C12.8246
                     13.8666 13.0002 13.4427 13.0002 13.0006V9.66732M9.66683 1.33398H14.6668M14.6668
                     1.33398V6.33398M14.6668 1.33398L6.3335 9.66732"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </a>
        <div class="flex flex-col lg:flex-row gap-2 mt-4">
          <span *ngIf="campaignData.total > 0">
            Raising: <b>{{ campaignData.total | currencyDefault }}</b>
          </span>

          <span *ngIf="campaignData.tokensPercentage > 0">
            Selling <b>{{ campaignData.campaignTokens | number }}</b> of <b>{{ campaignData.assetTokens | number }}</b>
            (<b>{{ campaignData.tokensPercentage | percent }}</b>) token shares
          </span>

          <span *ngIf="campaignData.tokensPercentage === 0">
            No tokens have been added to this campaign
          </span>
        </div>
        <div class="mt-2 mb-4">
          Price per token: <b>{{ campaignData.tokenPrice | currencyDefault }}</b>
        </div>

        <app-funding-progress class="lg:w-3/4" [campaign]="campaign"></app-funding-progress>
      </div>

      <div class="flex flex-col justify-end">
        <div class="flex justify-center lg:justify-end">
          <button class="flex flex-shrink-0 items-center gap-4 px-24 py-2 lg:px-8 rounded-full bg-indigo-800
                         text-white text-lg">
            <span>View campaign</span>
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1.16602L6.83333 6.99935L1 12.8327" stroke="white" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
