.bg-dash-l {
  background: #6d28d9;
}

.active-dash-sidebar-item {
  background-color: #8b5cf6;
}

.dash-side-holder div {
  transition: all 200ms;
  cursor: pointer;
}

.sidebar-width {
  width: 10%;
}

.content-width {
  width: 90%;
}
