<ng-container *ngIf="screenSize$ | async as screenSize">
  <div *ngIf="screenSize === 'xl' || screenSize === 'lg' || screenSize === '2xl'; else smallerScreenMsg">
    <div
    *ngIf="issuer$ | async as myIssuer"
    class="w-full h-full flex flex-row justify-center items-center px-2 pb-8">
    <div *ngIf="this.projectInfoHolderState$ | async as projectInfoHolderState" class="w-full max-w-6xl flex-col">
      <div class="flex flex-row items-center text-sm mb-2">
        
        <div
          routerLink="/"
          class="text-sm underline text-violet-800 cursor-pointer">
          My Projects
        </div>
        <div class="ml-2 mr-2">/</div>
        <div>
          {{ myIssuer.infoData.name }}
        </div>

        <!-- HIDE PROJECT INFO -->
        <div *ngIf="projectInfoHolderState === 'open'" 
        class="cursor-pointer w-56 ml-4 py-2 px-6 rounded-full bg-gray-100 border border-gray-200 float-right flex flex-row justify-center items-center" (click)="toggleProjectInfoHolderState()">
          <div class="mr-2 text-sm font-semibold text-gray-700">Hide info</div>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
          </svg>
        </div>

        <!-- SHOW PROJECT INFO -->
        <div *ngIf="projectInfoHolderState === 'closed'" 
        class="cursor-pointer ml-4 w-56 py-2 px-6 rounded-full bg-gray-100 border border-gray-200 float-right flex flex-row justify-center items-center" (click)="toggleProjectInfoHolderState()">
          <div class="mr-2 text-sm font-semibold text-gray-700">Show info</div>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
          </svg>
        </div>

      </div>
  
      <app-info-snippet *ngIf="projectInfoHolderState === 'open'"
        type='WARNING'
        [content]="{ title: 'This app is in beta!', sections: [
          'The app has not been audited for security vulnerabilities'
        ]}"
      ></app-info-snippet>

      <div [class.!h-16]="projectInfoHolderState === 'open'"
       class=" bg-white w-full shadow-sm px-8 my-4 h-0 transition-all rounded-xl flex flex-col justify-start">
       
       <div [class.opacity-0]="projectInfoHolderState === 'closed'" 
       class="flex flex-row justify-start">
       
        <div class="flex justify-center flex-col">
          <img
            class="h-10 object-contain"
            src="{{ myIssuer.infoData.logo | toUrlIPFS }}"
            alt=""
            srcset=""
          />
        </div>
        <div class="px-4 py-4 flex flex-row ml-4 w-full">
          <div class="flex flex-row justify-between">
            <div class="text-xl font-semibold text-gray-700 h-full flex flex-row">
              <div class="flex flex-col justify-center">
                {{ myIssuer.infoData.name }}
              </div>
              <div
                *ngIf="network$ | async as currentNetwork"
                class="flex flex-col justify-center h-full bg-gray-200 text-sm px-8 mx-4 rounded-full"
              >
                <div class="flex flex-row py-2">
                  <span class="font-normal mr-1">Deployed on </span>
                  {{ currentNetwork.name }}
                </div>
              </div>
            </div>
            <div
            class="text-sm text-gray-700 flex flex-row items-center"
            *ngIf="apiKey$ | async as apiKey; else createApiKeyButton"
          >
          <div *ngIf="apiKey.api_key.length > 0; else createApiKeyButton">
            <span class="ml-2 px-8 py-2 rounded-full border-gray-200 border"
            >           <span class="mr-2 text-sm font-semibold">Your API Key:</span>
             {{ apiKey.api_key | apiKeyShort }}...
            <app-value-copy
              class="ml-2"
              [value]="apiKey.api_key"
            ></app-value-copy>
          </span>
          </div>
            
            
          </div>
          </div>
  
          <ng-template #createApiKeyButton>
            <div class="flex flex-col h-full justify-center w-52 cursor-pointer">
              <button
                app-action-button
                class="bg-violet-700 text-white rounded-full py-2 !px-4 !h-full"
                text="Create API Key"
                loadingText="Creating API Key"
                [onClick]="createApiKey.bind(this)"
              ></button>
            </div>  
          </ng-template>

          <ng-template #loadingApiKey>
            <div class="mx-4 px-4 py-2 border border-gray-200 rounded-full flex flex-row items-center">
              <app-spinner></app-spinner>
            </div>
          </ng-template>
        </div>
       </div>
        
      </div>
      <div class="w-full flex flex-row">
        <div
          class="sidebar-width sticky top-28 shadow-md h-full flex flex-col bg-dash-l my-2 rounded-lg dash-side-holder"
        >
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="contracts"
            class="py-3 mx-2 mt-2 my-1 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
              </svg>
            </div>
            <div class="font-medium">Contracts</div>
          </div>
  
          <!-- <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="fundraising"
            class="mx-2 my-1 text-white py-3 rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
              </svg>
            </div>
            <div class="font-medium">Fundraising</div>
          </div> -->
  
          <!-- <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="contracts"
            class="mx-2 my-1 py-3 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg
                class="h-4 w-4"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.9993 16H19.9993M11.9993 21.3333H19.9993M22.666 28H9.33268C8.62544 28 7.94716 27.719 7.44706 27.219C6.94697 26.7189 6.66602 26.0406 6.66602 25.3333V6.66667C6.66602 5.95942 6.94697 5.28115 7.44706 4.78105C7.94716 4.28095 8.62544 4 9.33268 4H16.7807C17.1343 4.00008 17.4734 4.1406 17.7233 4.39067L24.942 11.6093C25.1921 11.8593 25.3326 12.1984 25.3327 12.552V25.3333C25.3327 26.0406 25.0517 26.7189 24.5516 27.219C24.0515 27.719 23.3733 28 22.666 28Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="font-medium">Utilities</div>
          </div> -->
  
          <div style="height: 1px" class="mt-1 mb-1 mx-4 bg-violet-500"></div>

          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="flows"
            class="py-3 mx-2 mt-2 my-1 text-white rounded-lg opacity-25 text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
              </svg>
            </div>
            <div class="font-medium">Flows</div>
          </div>
  
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="airdrops"
            class="mx-2 my-1 py-3 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg
                class="h-4 w-4"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M27.3504 12.8913C26.6776 11.701 25.4527 10.8557 23.995 10.7177C22.3992 10.571 20.8984 11.2093 20.0358 12.4514C19.2595 11.3301 17.9225 10.4848 16.4561 10.4848C14.8517 10.4848 13.3595 11.2956 12.6177 12.5981C11.8413 11.4595 10.4526 10.6659 8.98624 10.6659C7.38185 10.6659 5.97586 11.563 5.23405 12.8568H5.2168C5.22542 6.76709 10.1766 1.94531 16.2922 1.94531C22.4079 1.94531 27.359 6.9051 27.359 13.0121"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                />
                <path
                  d="M5.22461 12.8711L14.4973 25.111"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                />
                <path
                  d="M27.4191 12.8711L18.1465 25.111"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                />
                <path
                  d="M20.0369 12.457L16.8281 25.111"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                />
                <path
                  d="M12.5156 12.457L15.7244 25.111"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                />
                <path
                  d="M18.4917 25.1133H14.2306C13.7494 25.1133 13.3594 25.5033 13.3594 25.9845V29.1156C13.3594 29.5968 13.7494 29.9868 14.2306 29.9868H18.4917C18.9728 29.9868 19.3629 29.5968 19.3629 29.1156V25.9845C19.3629 25.5033 18.9728 25.1133 18.4917 25.1133Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                />
              </svg>
            </div>
            <div class="font-medium">Airdrops</div>
          </div>
  
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="payments"
            class="py-3 mx-2 my-1 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg
               class="h-4 w-4"
                viewBox="0 0 24 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.33398 19.6667L6.66732 14.3333M6.66732 6.33333H22.6673H6.66732ZM22.6673 6.33333L17.334 1L22.6673 6.33333ZM22.6673 6.33333L17.334 11.6667L22.6673 6.33333ZM17.334 19.6667H1.33398H17.334ZM1.33398 19.6667L6.66732 25L1.33398 19.6667Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="font-medium">Payments</div>
          </div>
  
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="address-book"
            class="py-3 mx-2 my-1 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg
                class="h-4 w-4"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16 8.33864V25.672M16 8.33864C14.4427 7.30397 12.328 6.66797 10 6.66797C7.672 6.66797 5.55733 7.30397 4 8.33864V25.672C5.55733 24.6373 7.672 24.0013 10 24.0013C12.328 24.0013 14.4427 24.6373 16 25.672M16 8.33864C17.5573 7.30397 19.672 6.66797 22 6.66797C24.3293 6.66797 26.4427 7.30397 28 8.33864V25.672C26.4427 24.6373 24.3293 24.0013 22 24.0013C19.672 24.0013 17.5573 24.6373 16 25.672"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="font-medium">Address Book</div>
          </div>
  
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="authorizations"
            class="py-3 mx-2 my-1 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
              </svg>
            </div>
            <div class="font-medium">Authorizations</div>
          </div>

          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="kycaml"
            class="py-3 mx-2 my-1 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="font-medium">KYC / AML</div>
          </div>

          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="onramp"
            class="py-3 mx-2 my-1 text-white opacity-25 rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
          </svg>
            <div class="font-medium ml-4">Fiat onramp</div>
          </div>

          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="onramp"
            class="py-3 mx-2 my-1 text-white opacity-25 rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
          </svg>
            <div class="font-medium ml-4">Analytics</div>
          </div>
  
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="third-party-integrations"
            class="py-3 mx-2 mt-1 mb-2 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg
                class="h-4 w-4"
                viewBox="0 0 24 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.66732 11.6667V6.33333C6.66732 4.91885 7.22922 3.56229 8.22941 2.5621C9.22961 1.5619 10.5862 1 12.0007 1C13.4151 1 14.7717 1.5619 15.7719 2.5621C16.7721 3.56229 17.334 4.91885 17.334 6.33333M12.0007 17V19.6667M4.00065 25H20.0006C20.7079 25 21.3862 24.719 21.8863 24.219C22.3864 23.7189 22.6673 23.0406 22.6673 22.3333V14.3333C22.6673 13.6261 22.3864 12.9478 21.8863 12.4477C21.3862 11.9476 20.7079 11.6667 20.0006 11.6667H4.00065C3.29341 11.6667 2.61513 11.9476 2.11503 12.4477C1.61494 12.9478 1.33398 13.6261 1.33398 14.3333V22.3333C1.33398 23.0406 1.61494 23.7189 2.11503 24.219C2.61513 24.719 3.29341 25 4.00065 25Z"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="font-medium">Integrations</div>
          </div>
  
          <div style="height: 1px" class="mt-1 mb-1 mx-4 bg-violet-500"></div>
  
          <div
            routerLinkActive="active-dash-sidebar-item"
            routerLink="settings"
            class="py-3 mx-2 mt-1 mb-2 text-white rounded-lg text-xs text-center flex flex-row items-center pl-4"
          >
            <div class="flex justify-center mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
            <div class="font-medium">Settings</div>
          </div>
  
        </div>
        <div *ngIf="(isBackendAuthorized$ | async); else notAuthorizedMsg" class="content-width">
          <div *ngIf="apiKey$ | async as apiKey; else createApiKeyMsg">
            <router-outlet></router-outlet>
          </div>
          <ng-template #createApiKeyMsg>
            <div class="ml-4 mt-2">
              <app-info-snippet
              type="WARNING"
              [content]="{ title: 'Create API Key!', sections: [
                  'In order to use Dev3 - an API Key is necessary!'
              ]}"></app-info-snippet>
            </div>
            
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  <ng-template #smallerScreenMsg>
    <div class="w-full h-screen flex justify-center items-center">
      <div class="m-4">
        <app-info-snippet
        [content]="{ title: 'Screen size incompatibility!', sections: [
          'Smaller screen sizes (e.g. mobile) are not yet supported by the Dev3 dashboard!'
        ]}"></app-info-snippet>
      </div> 
    </div>
  </ng-template>

  <ng-template #notAuthorizedMsg>
    <div class="w-full h-screen flex justify-center items-center">
      <div class="m-4">
        <app-info-snippet
        [content]="{ title: 'Please authorize yourself!', sections: [
          'You must authorize yourself to use the app!'
        ]}"></app-info-snippet>
      </div> 
    </div>
  </ng-template>

=</ng-container>
