/* Override Tailwind classes - Design requirements need bigger radius than is offered by tailwind */
.rounded-b-3xl {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.rounded-t-3xl {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.rounded-3xl {
  border-radius: 32px;
}
