<div class="px-4">
  <form [formGroup]="investForm" class="mt-2">
    <label class="block max-w-sm">
      <span>Amount</span>
      <input type="text" appCurrencyMask
             class="mt-1 block w-full rounded-md border-gray-300 shadow-sm
    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
             formControlName="amount">
    </label>
    <div>
      {{ investForm.value | json }}
    </div>
  </form>


  <form [formGroup]="uploadForm">
    <label class="block">
      <span>Name</span>
      <input type="text" formControlName="name">
    </label>

    <label class="block mt-2">
      <span>Logo</span>
      <input type="file" formControlName="logo" multiple>
    </label>

    <button app-action-button
            class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
            text="Upload"
            [disabled]="!uploadForm.valid"
            [onClick]="upload.bind(this)">
    </button>

    {{ uploadForm.value | json }}
  </form>

  <div>
    <ng-container *ngIf="(content$ | async) as res">
      <ng-container *ngIf="res.value">
        {{ res.value | json }}

        <img src="{{ res.value.logo | toImageURL }}" alt="Image">
      </ng-container>

      <ng-container *ngIf="res.error">
        {{ res.error }}
      </ng-container>

      <ng-container *ngIf="res.loading">
        Loading from IPFS...
      </ng-container>
    </ng-container>
  </div>

  <div class="flex space-x-4 px-2">


    <!-- TODO: transaction examples. clean when it will be used elsewhere. -->
    <!--    <button app-action-button-->
    <!--            class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"-->
    <!--            text="Send USDC"-->
    <!--            [onClick]="sendUSDC('0x338c7f21E0195449',-->
    <!--            '0.000000000000000002').bind(this)">-->
    <!--    </button>-->

    <!--    <button app-action-button-->
    <!--            class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"-->
    <!--            text="Send MATIC"-->
    <!--            [onClick]="sendMATIC('0x7FEB921abdd0d05100', '0.02').bind(this)">-->
    <!--    </button>-->

    <button app-action-button
            class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
            text="Sign Message"
            loadingText="Signing message..."
            [onClick]="signMessage.bind(this)">
    </button>

    <!-- Filtering example -->
    <!--  <button app-action-button-->
    <!--          class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"-->
    <!--          text="Filter"-->
    <!--          loadingText="Filtering..."-->
    <!--          [onClick]="filter.bind(this)">-->
    <!--  </button>-->

    <button app-action-button
            class="bg-red-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
            text="Invest" [onClick]="checkInvest.bind(this)">
    </button>
  </div>
</div>
