<div>
  <ng-container *ngIf="(session$ | async) as session; else spinner">
    <div *ngIf="showDecision(session)" class="mt-3 text-center">
      <h2 *ngIf="session.decision!.status === decisionStatus.RESUBMISSION_REQUESTED">
        Resubmission requested
      </h2>

      <h2 *ngIf="session.decision!.status === decisionStatus.DECLINED">
        Declined
      </h2>

      <!-- TODO: replace decision reason with translations of reason codes -->
      <p class="mt-1">{{ session.decision!.reason }}</p>
    </div>

    <div *ngIf="decisionPending(session)" class="mt-3">
      <p class="text-center">
        Your account is in process of verification. Please wait...
      </p>
    </div>

    <div *ngIf="!decisionPending(session)" class="mt-3">
      <div class="">
        You must verify your identity before investing in the offered projects. We use
        <a href="https://www.veriff.com/" target="_blank" rel="noopener noreferrer" class="underline">
          Veriff
        </a>
        as a trusted third party service. In order to fully verify your identity,
        you will be asked to provide following:

        <div class="w-1/2 lg:w-1/4 m-auto mt-4">
          <div class="flex items-center">
            <div class="h-4 w-4">
              <img src="assets/icons/phone-call.png" alt="Phone">
            </div>
            <span class="ml-3">Phone number (optional)</span>
          </div>
          <div class="flex items-center mt-2">
            <div class="h-4 w-4">
              <img src="assets/icons/id-card.png" alt="ID card">
            </div>
            <span class="ml-3">Photo of your ID card</span>
          </div>
          <div class="flex items-center mt-2">
            <div class="h-4 w-4">
              <img src="assets/icons/photo-capture.png" alt="Photo">
            </div>
            <span class="ml-3">Self-taken Camera Picture</span>
          </div>
        </div>
      </div>

      <button app-action-button
              class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md my-2"
              [onClick]="startVerification(session.verification_url)"
              text="Start verification">
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="approved$ | async"></ng-container>
  <ng-template #spinner>
    Loading...
  </ng-template>
</div>
