<div class="flex content-center items-center"
     *ngIf="!isNetworkFixed">
  <label for="network" class="text-2xl text-indigo-900">
    Network:
  </label>
  <select name="network" id="network"
          (change)="networkChanged($event)"
          class="m-2 pl-4 pr-8 py-2 border-indigo-800 border-2 bg-transparent rounded-full
                 text-indigo-800 text-lg font-bold">
    <option *ngFor="let network of networks"
            [selected]="currentNetwork === network"
            [value]="network.chainID">
      {{ network.name }}
    </option>
  </select>
</div>
