<div class="flex content-center items-center flex-wrap"
     *ngIf="!isNetworkFixed">
  <label for="network" class="text-lg text-indigo-900 font-bold">
    NETWORK:
  </label>
  <select name="network" id="network"
          (change)="networkChanged($event)"
          class="m-2 border-none bg-transparent text-indigo-900 text-lg font-semibold">
    <option *ngFor="let network of networks"
            [selected]="currentNetwork === network"
            [value]="network.chainID">
      {{ network.name }}
    </option>
  </select>
</div>
