<div class="w-full h-full flex justify-center my-8 px-2">
  <div class="w-full max-w-5xl">
    <ng-container *ngIf="stateWithStatus$ | async as stateRes">
      <ng-container *ngIf="stateRes.value as state">
        <form [formGroup]="transferForm">
          <div class="max-w-md mx-auto bg-white rounded-4xl px-6 py-4">
            <h1
              class="flex gap-1.5 justify-center items-center mt-4 mx-4 text-3xl"
            >
              <span> Transfer {{ state.tokenData.symbol }} </span>
              <app-explorer-link [value]="state.tokenData.address" type="token">
              </app-explorer-link>
              <app-add-to-metamask [value]="state.tokenData.address">
              </app-add-to-metamask>
            </h1>

            <h2 class="mt-2 mx-4 text-center text-sm text-gray-500">
              <span> on {{ state.network.name }} </span>
            </h2>

            <form [formGroup]="transferForm">
              <!-- Token box -->
              <div
                class="mt-5 bg-gray-200/20 border-gray-300/50 border-[1px] rounded-lg px-2 pb-1"
              >
                <span
                  class="flex justify-end mt-2 text-xxs font-medium text-gray-400"
                >
                  Amount of {{ state.tokenData.symbol }} you will transfer
                </span>

                <div class="flex justify-between">
                  <div class="flex items-center">
                    <div class="flex rounded-full items-center bg-white shadow">
                      <div
                        class="w-7 h-7 bg-white rounded-full overflow-hidden m-1"
                      >
                        <img
                          class="h-full w-full object-cover"
                          src="{{
                            (state.asset?.infoData?.logo | toUrlIPFS) ||
                              (state.tokenData.symbol | toStablecoinLogoPath)
                          }}"
                          alt="{{ state.tokenData.symbol }} logo"
                        />
                      </div>

                      <span class="ml-1 mr-3 font-medium whitespace-nowrap">
                        {{ state.tokenData.symbol }}
                      </span>
                    </div>
                  </div>

                  <input
                    class="w-full py-0 pr-0 text-right bg-transparent border-none focus:ring-0 text-3xl text-ellipsis placeholder:text-gray-400"
                    formControlName="tokenAmount"
                    appBigNumberInput
                    bigNumberType="token"
                    [tokenPrecision]="state.tokenData.decimals"
                  />
                </div>

                <div class="flex">
                  <div class="flex items-center min-h-[1rem] mt-2 flex-1">
                    <ng-container *ngIf="transferForm?.invalid">
                      <span class="text-red-600 text-xs font-semibold">
                        <ng-container
                          *ngIf="transferForm.errors?.tokenAmountAboveBalance"
                        >
                          The amount exceeds your token balance.
                        </ng-container>
                      </span>
                    </ng-container>
                  </div>
                </div>

                <div
                  class="flex justify-between items-center mt-5 text-xxs font-medium"
                >
                  <div>
                    <span class="text-gray-400" *ngIf="state.balance">
                      Balance:
                      {{
                        state.balance
                          | formatUnit: "token":state.tokenData.decimals
                          | currencyDefault
                            : "token"
                            : "real"
                            : state.tokenData.symbol
                      }}
                    </span>
                  </div>
                  <div class="flex gap-1" *ngIf="state.balance">
                    <button
                      class="app-button text-xxs !px-2 !py-0.5 mb-1"
                      *ngIf="state.balance?.gt(bigNumberConstants.Zero)"
                      (click)="setTokenValue(state, 'max')"
                    >
                      Max
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex flex-col gap-2 mt-5">
                <label
                  class="text-sm text-gray-500 text-center"
                  for="recipientAddress"
                >
                  Recipient address
                </label>
                <input
                  class="bg-gray-200/20 border-gray-300/50 rounded-lg text-ellipsis placeholder:text-gray-400 font-semibold overflow-ellipsis"
                  type="text"
                  id="recipientAddress"
                  placeholder="0x"
                  spellcheck="false"
                  formControlName="recipientAddress"
                />
              </div>

              <div class="flex">
                <div class="flex items-center min-h-[1rem] mt-2 flex-1">
                  <ng-container *ngIf="transferForm?.invalid">
                    <span class="text-red-600 text-xs font-semibold">
                      <ng-container
                        *ngIf="
                          transferForm.get('recipientAddress')?.errors?.pattern
                        "
                      >
                        Incorrect address format.
                      </ng-container>
                    </span>
                  </ng-container>
                </div>
              </div>

              <div
                class="flex items-center gap-2 mt-2 bg-gray-200/20 rounded-lg p-2"
              >
                <svg
                  class="w-6 h-6 text-orange-400 shrink-0"
                  viewBox="0 0 26 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 9v2.667M13 17h.013m-9.25 5.334h18.474c2.054 0 3.336-2.223 2.31-4l-9.238-16c-1.026-1.778-3.592-1.778-4.618 0l-9.238 16c-1.026 1.777.256 4 2.31 4Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <div class="flex flex-col gap-1 text-xs flex-1">
                  <div class="text-orange-400">
                    Transferring to an exchange?
                  </div>
                  <div class="text-gray-400">
                    Make sure to specify you are transferring
                    {{ state.tokenData.symbol }} on {{ state.network.name }}
                  </div>
                </div>
              </div>

              <div
                class="flex items-center gap-2 mt-2 bg-gray-200/20 rounded-lg p-2"
                *ngIf="crispService.isAvailable$ | async"
              >
                <svg
                  class="w-6 h-6 text-orange-400 shrink-0"
                  viewBox="0 0 26 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 9v2.667M13 17h.013m-9.25 5.334h18.474c2.054 0 3.336-2.223 2.31-4l-9.238-16c-1.026-1.778-3.592-1.778-4.618 0l-9.238 16c-1.026 1.777.256 4 2.31 4Z"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <div class="flex flex-col gap-1 text-xs flex-1">
                  <div class="text-orange-400">Need help?</div>
                  <div class="text-gray-400">
                    Don't hesitate to
                    <a
                      (click)="crispService.chatOpen()"
                      class="underline text-cyan-600 cursor-pointer"
                    >
                      contact our support
                    </a>
                    in case you need help.
                  </div>
                </div>
              </div>

              <div class="mt-4">
                <button
                  app-action-button
                  class="w-full app-button"
                  [hidden]="(isUserLoggedIn$ | async) === true"
                  [onClick]="login.bind(this)"
                  text="Log in"
                ></button>

                <button
                  app-action-button
                  class="w-full app-button"
                  [hidden]="(shouldTransfer$ | async) !== true"
                  [disabled]="transferForm.invalid"
                  [onClick]="transfer(state).bind(this)"
                  text="Transfer"
                ></button>
              </div>
            </form>
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="stateRes.error">
        <div class="flex justify-center py-8">Cannot fetch data.</div>
        <div hidden>{{ stateRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="stateRes.loading">
        <div class="flex justify-center py-8">
          <app-spinner type="overlay"> Loading... </app-spinner>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
