<div class="w-full h-full flex justify-center my-8 px-2">
  <div class="w-full max-w-5xl">
    <ng-container *ngIf="(stateWithStatus$ | async) as stateRes">
      <ng-container *ngIf="stateRes.value as state">
        <form [formGroup]="transferForm">
          <div class="max-w-md mx-auto bg-white rounded-4xl px-6 py-4">
            <h1 class="mt-4 mx-4 text-center text-3xl">
              <span>
                Transfer {{ state.symbol }}
              </span>
              <app-explorer-link [value]="state.tokenAddress" type="token">
              </app-explorer-link>
              <app-add-to-metamask [value]="state.tokenAddress">
              </app-add-to-metamask>
            </h1>

            <h2 class="mt-2 mx-4 text-center text-sm">
              <span>
                on {{ state.network.name }}
              </span>
            </h2>

            <form [formGroup]="transferForm">
              <!-- Token box -->
              <div class="mt-5 bg-[#F5F7F9] border-[#D8D8D8] border-[1px] rounded-lg px-2 pb-1">
                <span class="flex justify-end mt-1 text-xxs font-medium text-gray-400">
                  Amount of {{ state.symbol }} you will transfer
                </span>

                <div class="flex justify-between">
                  <div class="flex items-center">
                    <div class="flex rounded-full items-center bg-white shadow">
                      <div class="w-7 h-7 bg-white rounded-full overflow-hidden m-1">
                        <!-- TODO: change icon to specific stablecoin -->
                        <img class="h-full w-full object-cover"
                             src="{{ (state.asset?.infoData?.logo | toUrlIPFS) || '/assets/usdc.png' }}"
                             alt="{{ state.symbol }} logo">
                      </div>

                      <span class="ml-1 mr-3 font-medium whitespace-nowrap">
                        {{ state.symbol }}
                      </span>
                    </div>
                  </div>

                  <input class="w-full py-0 pr-0 text-right bg-transparent border-none focus:ring-0 text-3xl
                                text-ellipsis	placeholder:text-gray-400"
                         formControlName="tokenAmount"
                         appBigNumberInput bigNumberType="token" [tokenPrecision]="state.decimals">
                </div>

                <div class="flex">
                  <div class="flex items-center min-h-[1rem] mt-2 flex-1">
                    <ng-container *ngIf="transferForm?.invalid">
                      <span class="text-red-600 text-xs font-semibold">
                        <ng-container *ngIf="transferForm.errors?.tokenAmountAboveBalance">
                          The amount exceeds your token balance.
                        </ng-container>
                      </span>
                    </ng-container>
                  </div>
                </div>

                <div class="flex justify-between items-center mt-5 text-xxs font-medium">
                  <div>
                    <span class="text-gray-400" *ngIf="state.balance">
                      Balance: {{ state.balance
                      | formatUnit:'token':state.decimals
                      | currencyDefault:'token':'real':state.symbol }}
                    </span>
                  </div>
                  <div class="flex gap-1" *ngIf="state.balance">
                    <button class="app-button text-xxs !px-2 !py-0.5 mb-1"
                            *ngIf="state.balance?.gt(bigNumberConstants.Zero)"
                            (click)="setTokenValue(state, 'max')">
                      Max
                    </button>
                  </div>
                </div>
              </div>

              <div class="flex flex-col gap-2 mt-5">
                <label class="text-lg font-semibold">Recipient address</label>
                <input class="border-gray-400 rounded-lg" type="text"
                       formControlName="recipientAddress">
              </div>

              <div class="flex">
                <div class="flex items-center min-h-[1rem] mt-2 flex-1">
                  <ng-container *ngIf="transferForm?.invalid">
                    <span class="text-red-600 text-xs font-semibold">
                      <ng-container *ngIf="transferForm.get('recipientAddress')?.errors?.pattern">
                        Incorrect address format.
                      </ng-container>
                    </span>
                  </ng-container>
                </div>
              </div>

              <div class="mt-4">
                <button app-action-button
                        class="w-full app-button"
                        [hidden]="(isUserLoggedIn$ | async) === true"
                        [onClick]="login.bind(this)"
                        text="Log in"></button>

                <button app-action-button
                        class="w-full app-button"
                        [hidden]="(shouldTransfer$ | async) !== true"
                        [disabled]="transferForm.invalid"
                        [onClick]="transfer(state).bind(this)"
                        text="Transfer">
                </button>
              </div>
            </form>
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="stateRes.error">
        <div class="flex justify-center py-8">
          Cannot fetch data.
        </div>
        <div hidden>{{ stateRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="stateRes.loading">
        <div class="flex justify-center py-8">
          <app-spinner type="overlay">Loading...</app-spinner>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
