<div class="w-full h-full flex justify-center mt-8 px-2 pb-8">
  <div class="bg-red w-full max-w-6xl">
    <ng-container *ngIf="(asset$ | async) as assetRes">
      <ng-container *ngIf="assetRes.value">
        <app-admin-asset-item [asset]="assetRes.value" assetType="asset" type="detail"></app-admin-asset-item>

        <div class="flex flex-col lg:flex-row justify-center items-center lg:gap-4 my-8">
          <app-add-button text="NEW CAMPAIGN"></app-add-button>
        </div>

        <app-admin-campaign-list [asset]="assetRes.value" [campaigns$]="campaigns$"></app-admin-campaign-list>
      </ng-container>

      <ng-container *ngIf="assetRes.error">
        <div class="flex justify-center">
          Cannot fetch asset.
          <div hidden>{{ assetRes.error | json }}</div>
        </div>
      </ng-container>

      <ng-container *ngIf="assetRes.loading">
        <app-spinner type="overlay">Loading asset...</app-spinner>
      </ng-container>
    </ng-container>
  </div>
</div>
