<div class="w-full h-full flex justify-center mt-8 px-2 pb-8">
  <div class="bg-red w-full max-w-6xl">
    <ng-container *ngIf="(portfolioWithStatus$ | async) as portfolioRes">
      <ng-container *ngIf="portfolioRes.value as portfolio">
        <!-- Overview of all investments and total unclaimed earnings -->
        <section class="w-full rounded-3xl flex-col shadow-lg justify-between bg-white p-4
        lg:p-8 flex lg:flex-row lg:items-end">
          <div class="flex flex-row justify-between lg:items-center">
            <div class="flex flex-col justify-start">
              <span class="text-sm text-black font-semibold">Total investment</span>
              <span class="text-3xl lg:text-4xl mt-3">
                <ng-container *ngIf="(totalInvested$ | async) as totalInvested">
                  {{ totalInvested.value | currencyDefault }}
                </ng-container>
              </span>
            </div>
            <!-- TODO: add when able to fetch from blockchain -->
            <!--            <div class="flex flex-col justify-start lg:ml-16">-->
            <!--              <span class="text-sm text-black font-semibold">Unclaimed earnings</span>-->
            <!--              <span class="text-3xl lg:text-4xl mt-3">{{ 2 | currencyDefault }}</span>-->
            <!--            </div>-->
          </div>
          <div class="h-full lg:w-80 flex flex-col justify-end items-end lg:mt-0">
            <!-- TODO: add when able to fetch from blockchain -->
            <!--            <button app-action-button-->
            <!--                    *ngIf="(isClaimable$ | async) === true"-->
            <!--                    text="Claim"-->
            <!--                    class="lg:w-52 w-full py-2 mt-8 lg:mt-4 bg-indigo-800 text-white rounded-full">-->
            <!--            </button>-->
          </div>
        </section>

        <!-- Portfolio investments -->
        <section class="w-full mt-8">
          <div *ngFor="let item of portfolio" class="w-full rounded-3xl shadow-lg flex flex-col lg:flex-row mt-4">
            <div class="w-full lg:w-4/12">
              <a routerLink="{{ '/offers/' + item.campaign.contractAddress | issuerPath }}">
                <img class="w-full h-32 object-cover rounded-t-3xl lg:h-full lg:rounded-tr-none lg:rounded-l-3xl
                bg-white"
                     src="{{ item.campaign.infoData.photo | toUrlIPFS }}" alt="Project image">
              </a>
            </div>
            <div class="flex flex-col justify-between w-full bg-white rounded-b-3xl lg:rounded-none lg:rounded-r-3xl
                        p-6">
              <div>
                <div class="flex">
                  <div class="bg-gray-200 px-8 rounded-full py-2 flex items-center">
                    <span class="font-bold">{{ item.tokenValue | formatUnit:'bignumToWei' | currencyDefault }}</span>
                    <span class="ml-2">Invested</span>
                  </div>
                </div>
                <div class="text-3xl mt-4 lg:text-4xl tracking-wider font-light uppercase">
                  <a routerLink="{{ '/offers/' + item.campaign.contractAddress | issuerPath }}">
                    {{ item.campaign.infoData.name }}
                  </a>
                </div>
              </div>
              <div class="mt-2 flex flex-col lg:flex-row justify-start lg:justify-between">
                <div class="w-full lg:mr-16">
                  <app-funding-progress [campaign]="item.campaign"></app-funding-progress>
                </div>
                <div class="flex items-end">
                  <button *ngIf="!item.campaign.finalized" app-action-button
                          class="w-full lg:w-52 lg:px-20 lg:ml-8 mt-8 lg:mt-0 py-2 bg-transparent
                                 text-black font-semibold rounded-full whitespace-nowrap"
                          [onClick]="cancel(item.campaign.contractAddress, item.campaign.flavor).bind(this)"
                          text="Cancel Investment">
                  </button>

                  <button *ngIf="item.campaign.finalized" app-action-button [disabled]="true"
                          class="w-full lg:w-52 lg:px-20 lg:ml-8 mt-8 lg:mt-0 py-2 bg-gray-400 text-white
                          rounded-full whitespace-nowrap"
                          text="Investment Finalized">
                  </button>

                  <!-- TODO: claim funds from successful investment -->
                  <!--                  <button *ngIf="item.projectState === projectState.Successful" app-action-button-->
                  <!--                          class="w-full lg:w-52 lg:px-20 lg:ml-8 mt-8 lg:mt-0 py-2 bg-indigo-800 text-white rounded-full whitespace-nowrap"-->
                  <!--                          text="Finalize Investment"></button>-->
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-container>

      <ng-container *ngIf="portfolioRes.error">
        Cannot fetch portfolio.
        <div hidden>{{ portfolioRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="portfolioRes.loading">
        <app-spinner type="overlay">Loading portfolio...</app-spinner>
      </ng-container>
    </ng-container>
  </div>
</div>
