<div class="bg-white shadow-sm ml-4 mt-2 p-8 rounded-lg">
    <div class="flex flex-col">
        <div class="flex flex-row justify-between">
            <div (click)="changeTab(TabType.Payments)" [class.border-violet-700]="activeTab === TabType.Payments"
                [class.text-violet-700]="activeTab === TabType.Payments"
                class="w-48 border-b-4 flex flex-col justify-end text-sm uppercase text-gray-700 font-semibold text-center
                 pb-4 cursor-pointer">
                Payment Requests</div>
            <div (click)="changeTab(TabType.CreateNew)" [class.bg-violet-700]="activeTab === TabType.CreateNew"
                [class.!text-white]="activeTab === TabType.CreateNew"
                class="w-48 rounded-lg bg-gray-100 border border-gray-200 mb-2 text-sm text-gray-700 flex flex-row
                justify-center items-center uppercase font-semibold text-center py-2
                cursor-pointer">

                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <div class="ml-2">Create new</div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab === TabType.CreateNew" class="border rounded-lg rounded-tl-none p-8">
        <app-request-send-new></app-request-send-new>
    </div>
    <div *ngIf="activeTab === TabType.Payments" class="border rounded-lg rounded-tl-none">
        <app-request-send-list></app-request-send-list>
    </div>
</div>