<div>
  <label for="network" class="app-page-label mt-3">
    Network
  </label>
  <select name="network" id="network"
          (change)="networkChanged($event)"
          class="m-2 p-2 bg-blue-200 rounded-md">
    <option *ngFor="let network of networks"
            [selected]="currentNetwork === network"
            [value]="network.chainId">
      {{ network.name }}
    </option>
  </select>
</div>

<div>
  <h1 class="">Login with</h1>
</div>

<div class="flex space-x-2">
  <button app-action-button
          class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
          [onClick]="connectMetamask.bind(this)"
          text="Metamask"
          loadingText="Opening Metamask...">
  </button>

  <button app-action-button
          class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
          [onClick]="connectWalletConnect.bind(this)"
          text="Wallet Connect"
          loadingText="Opening Wallet Connect">
  </button>
</div>
