<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="my-4">
    <a routerLink="/issuers">ᐊ Back to Issuers</a>
  </div>

  <ng-container *ngIf="(issuer$ | async) as issuerRes">
    <ng-container *ngIf="issuerRes.value as issuer">
      <ng-container *ngIf="(address$ | async) as address">
        <div>
          Name: {{ issuer.name ?? 'Unknown' }}
        </div>

        <div>
          Logo:
          <img class="p-4 max-w-xs max-h-xs" *ngIf="issuer.logo"
               [src]="issuer.logo | toImageURL" alt="Issuer Logo">
        </div>

        <div>
          Address: {{ issuer.address }}
        </div>

        <div>
          Stablecoin address: {{ issuer.stablecoin }}
        </div>

        <div>
          Wallet approver address: {{ issuer.walletApprover }}
        </div>

        <button class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
                *ngIf="issuer.owner === address.value"
                routerLink="edit">
          Edit
        </button>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="issuerRes.error">
      Cannot fetch issuer: {{ issuerRes.error }}
    </ng-container>

    <ng-container *ngIf="issuerRes.loading">
      Fetching Issuer...
    </ng-container>
  </ng-container>
</div>
