<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="my-4">
    <a routerLink="/issuers">ᐊ Back to Issuers</a>
  </div>

  <h1 class="my-2 text-2xl uppercase">
    Issuer details
  </h1>

  <ng-container *ngIf="(issuer$ | async) as issuerRes">
    <ng-container *ngIf="issuerRes.value as issuer">
      <ng-container *ngIf="(address$ | async) as address">
        <div>
          Name: {{ issuer.name ?? 'Unknown' }}
        </div>

        <div>
          Logo:
          <img class="p-4 max-w-xs max-h-xs" *ngIf="issuer.logo"
               [src]="issuer.logo | toUrlIPFS" alt="Issuer Logo">
        </div>

        <div>
          Address: {{ issuer.contractAddress | addrShort }}
          <app-value-copy [value]="issuer.contractAddress"></app-value-copy>
        </div>

        <div>
          Stablecoin address: {{ issuer.stablecoin | addrShort }}
          <app-value-copy [value]="issuer.stablecoin"></app-value-copy>
        </div>

        <div>
          Wallet approver address: {{ issuer.walletApprover | addrShort }}
          <app-value-copy [value]="issuer.walletApprover"></app-value-copy>
        </div>

        <button class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
                *ngIf="issuer.owner === address.value"
                routerLink="edit">
          Edit
        </button>
      </ng-container>

      <div class="mt-2">
        Assets:

        <div *ngIf="(assets$ | async) as assetsRes">
          <ng-container *ngIf="assetsRes.value as assets">
            <div class="flex flex-wrap gap-1 mt-2" *ngIf="assets.length > 0">
              <ng-container *ngFor="let asset of assets">
                <div class="p-2 min-w-[10rem] bg-blue-400 rounded-lg relative">
                  <div>{{ asset.name ?? 'Unknown' }}</div>
                  <div>Symbol: {{ asset.symbol ?? 'Unknown' }}</div>

                  <img class="max-w-[10rem] max-h-20" *ngIf="asset.logo"
                       src="{{ asset.logo | toUrlIPFS }}" alt="Issuer logo">

                  <!-- action buttons -->
                  <div class="flex flex-col absolute p-2 top-0 right-0 opacity-20 hover:opacity-100
                  transition-all ease-in-out">
                    <button class="bg-gray-300 shadow-md rounded-md p-1"
                            routerLink="/assets/{{ asset.contractAddress }}">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                           stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                      </svg>
                    </button>
                    <button class="bg-gray-300 shadow-md rounded-md p-1 mt-1"
                            routerLink="/assets/{{ asset.contractAddress }}/edit">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                           stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                      </svg>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>

            <div *ngIf="assets.length === 0">
              No assets for this issuer.
            </div>
          </ng-container>

          <ng-container *ngIf="assetsRes.error">
            Cannot fetch assets.
            <div hidden>{{ assetsRes.error | json }}</div>
          </ng-container>

          <ng-container *ngIf="assetsRes.loading">
            Loading assets...
          </ng-container>
        </div>
      </div>

      <div class="flex gap-1">
        <button class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
                routerLink="assets/new">
          New asset
        </button>
        <button class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
                routerLink="assets/new-with-campaign">
          New asset with campaign
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="issuerRes.error">
      Cannot fetch issuer.
      <div hidden>{{ issuerRes.error | json }}</div>
    </ng-container>

    <ng-container *ngIf="issuerRes.loading">
      Fetching issuer...
    </ng-container>
  </ng-container>
</div>
