<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="bg-white my-8 p-6 rounded-4xl">
    <h1 class="mt-2 text-2xl uppercase">Payout Details</h1>

    <ng-container *ngIf="payout$ | async as payoutRes">
      <ng-container *ngIf="payoutRes.value as payout">
        <ng-container
          *ngIf="
            payout.asset
              | assetData: 'tokenOnly'
              | withStatus
              | async as assetRes
          "
        >
          <ng-container *ngIf="assetRes.value as asset">
            <h2 class="font-semibold mt-4">Base asset</h2>

            <div class="flex gap-1 items-baseline mt-2">
              <span>{{ asset.tokenData.symbol }}</span>
              <span class="text-sm">
                {{ asset.tokenData.address | addrShort }}
              </span>
              <app-value-copy
                [value]="asset.tokenData.address"
              ></app-value-copy>
              <app-explorer-link [value]="asset.tokenData.address" type="token">
              </app-explorer-link>
              <app-add-to-metamask [value]="asset.tokenData.address">
              </app-add-to-metamask>
            </div>

            <h2 class="font-semibold mt-4">Reward asset</h2>

            <ng-container
              *ngIf="
                payout.rewardAsset
                  | assetData: 'tokenOnly'
                  | withStatus
                  | async as rewardAssetRes
              "
            >
              <ng-container *ngIf="rewardAssetRes.value as rewardAsset">
                <div class="flex items-baseline gap-1.5 flex-wrap mt-4">
                  <span>{{ rewardAsset.tokenData.symbol }}</span>
                  <span class="text-sm">
                    {{ rewardAsset.tokenData.address | addrShort }}
                  </span>
                  <app-value-copy
                    [value]="rewardAsset.tokenData.address"
                    [delay]="800"
                  >
                  </app-value-copy>
                  <app-explorer-link
                    [value]="rewardAsset.tokenData.address"
                    type="token"
                  >
                  </app-explorer-link>
                  <app-add-to-metamask [value]="rewardAsset.tokenData.address">
                  </app-add-to-metamask>
                </div>

                <div class="flex items-baseline gap-1.5 flex-wrap mt-2">
                  <span>Amount distributed:</span>
                  <span class="text-sm">
                    {{
                      payout.totalRewardAmount
                        | formatUnit: "token":rewardAsset.tokenData.decimals
                        | currencyDefault
                          : "token"
                          : "real"
                          : rewardAsset.tokenData.symbol
                    }}
                  </span>
                </div>

                <div class="flex items-baseline gap-1.5 flex-wrap mt-2">
                  <span>Amount collected:</span>
                  <span class="text-sm">
                    {{
                      payout.totalRewardAmount.sub(payout.remainingRewardAmount)
                        | formatUnit: "token":rewardAsset.tokenData.decimals
                        | currencyDefault
                          : "token"
                          : "real"
                          : rewardAsset.tokenData.symbol
                    }}
                  </span>
                </div>

                <div class="flex items-baseline gap-1.5 flex-wrap mt-2">
                  <span>Payout creator:</span>
                  <span class="text-sm">
                    {{ payout.payoutOwner | addrShort }}
                  </span>
                  <app-value-copy [value]="payout.payoutOwner" [delay]="800">
                  </app-value-copy>
                  <app-explorer-link [value]="payout.payoutOwner">
                  </app-explorer-link>
                </div>

                <div
                  class="flex items-baseline gap-1.5 flex-wrap mt-2"
                  *ngIf="
                    payout.assetSnapshotBlockNumber
                      | formatUnit: 'toNumber' as blockNumber
                  "
                >
                  <span>Snapshot block number:</span>
                  <span class="text-sm font-mono">
                    {{ blockNumber }}
                  </span>
                  <app-value-copy value="{{ blockNumber }}" [delay]="800">
                  </app-value-copy>
                </div>

                <div class="flex items-baseline gap-1.5 flex-wrap mt-2">
                  <span>Snapshot time:</span>
                  <span class="text-sm">
                    <ng-container
                      *ngIf="
                        payout.assetSnapshotBlockNumber
                          | blockTime
                          | withStatus
                          | async as blockTimeRes
                      "
                    >
                      <ng-container *ngIf="blockTimeRes.value as blockTime">
                        <span>{{ blockTime | date: "medium" }}</span>
                      </ng-container>

                      <ng-container *ngIf="blockTimeRes.error">
                        <span>❌</span>
                        <div hidden>{{ blockTimeRes.error | json }}</div>
                      </ng-container>

                      <ng-container *ngIf="blockTimeRes.loading">
                        <app-spinner type="inline-xs"></app-spinner>
                      </ng-container>
                    </ng-container>
                  </span>
                </div>

                <div class="mt-2">
                  <a
                    class="text-sky-600"
                    href="{{ payout.assetSnapshotMerkleIpfsHash | toUrlIPFS }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Open raw snapshot data
                  </a>
                </div>

                <div class="mt-4 lg:max-w-md">
                  <h2 class="font-semibold">Ignored asset holders</h2>

                  <div class="flex flex-col gap-2 mt-2">
                    <div
                      *ngFor="
                        let holderAddress of payout.ignoredHolderAddresses
                      "
                    >
                      <div class="flex items-baseline gap-1.5 flex-wrap">
                        <span class="text-sm">
                          {{ holderAddress | addrShort }}
                        </span>
                        <app-value-copy [value]="holderAddress" [delay]="800">
                        </app-value-copy>
                        <app-explorer-link [value]="holderAddress">
                        </app-explorer-link>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="rewardAssetRes.error">
                Cannot fetch reward asset.
                <div hidden>{{ rewardAssetRes.error | json }}</div>
              </ng-container>

              <ng-container *ngIf="rewardAssetRes.loading">
                Loading reward asset...
              </ng-container>
            </ng-container>

            <ng-container
              *ngIf="
                !payout.isCanceled && !payout.remainingRewardAmount.isZero()
              "
            >
              <div class="mt-2">
                <button
                  app-action-button
                  class="app-button mt-2"
                  [onClick]="cancelPayout(payout.payoutId).bind(this)"
                  text="Cancel Payout"
                ></button>
              </div>
            </ng-container>

            <ng-container *ngIf="payout.isCanceled">
              <div class="mt-2">The payout has been canceled by the owner.</div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="assetRes.error">
            Cannot fetch asset.
            <div hidden>{{ assetRes.error | json }}</div>
          </ng-container>

          <ng-container *ngIf="assetRes.loading">
            Loading asset...
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="payoutRes.error">
        Cannot fetch payout.
        <div hidden>{{ payoutRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="payoutRes.loading"> Loading payout... </ng-container>
    </ng-container>
  </div>
</div>
