<div class="max-w-6xl mx-auto px-2 lg:px-4" *ngIf="state$ | async as state">
  <div class="my-8">
    <app-deposit-flow></app-deposit-flow>
  </div>
  <p class="text-center text-sm">
    <span class="font-semibold"> Note: </span>
    You can always find alternative ways to fund the connected wallet with
    <span>
      {{ state.stablecoin.symbol }}
    </span>

    <span class="inline-flex items-baseline">
      <app-explorer-link [value]="state.stablecoin.address" type="token">
      </app-explorer-link>
    </span>

    <span class="inline-flex items-baseline">
      <app-add-to-metamask [value]="state.stablecoin.address">
      </app-add-to-metamask>
    </span>

    <span> on {{ state.network.name }} </span>
  </p>
</div>
