<div class="flex">
  <div
    routerLink="../../.."
    class="ml-4 mt-2 bg-gray-600 text-white text-sm font-semibold rounded-full w-48 py-2 flex flex-row justify-center cursor-pointer"
  >
    < Back
  </div>
</div>

<div class="w-full h-full flex justify-center mt-4 px-4 pb-8">
  <div class="w-full max-w-6xl">
    <div class="flex flex-col w-full justify-start bg-white rounded-xl p-8">
      <ng-container *ngIf="stateWithStatus$ | async as stateRes">
        <ng-container *ngIf="stateRes.value as stateData">
          <form
            [class.hidden]="(step$ | async) !== stepType.CREATION_FIRST"
            class="contents text-gray-700"
            [formGroup]="createForm1"
          >
            <div class="flex flex-col gap-8 lg:w-3/3">
              <div class="flex flex-col gap-2 pt-2">
                <label class="text-lg font-semibold">
                  Select the token you are selling
                </label>
                <small class="mt-2"
                  >Please select the token you will be selling from the
                  dropdown.</small
                >
                <input
                  class="border-gray-400 w-full rounded-lg text-sm"
                  type="text"
                  placeholder=""
                  formControlName="name"
                />
              </div>

              <div class="flex flex-col gap-2 pt-2 w-full">
                <label class="text-lg font-semibold">
                  Set campaign alias
                </label>
                <small class="mt-2"
                  >Give your campaign a unique alias to access it from the Dev3
                  API & SDK.</small
                >
                <input
                  class="border-gray-400 w-full rounded-lg text-sm"
                  type="text"
                  placeholder="Campaign title"
                  formControlName="name"
                />
              </div>

              <div class="flex flex-col gap-2">
                <label class="text-sm uppercase font-semibold">
                  Campaign URL
                </label>
                <div class="flex flex-col lg:flex-row lg:items-center gap-4">
                  <div class="text-sm">
                    {{ campaignUrl }}
                  </div>
                  <input
                    class="border-gray-400 rounded-lg text-sm"
                    type="text"
                    formControlName="slug"
                  />
                </div>
              </div>
            </div>

            <div
              class="flex flex-col lg:flex-row border-gray-200 border rounded-lg my-8 p-4"
            >
              <div class="flex flex-col gap-8 pb-2 lg:p-6">
                <div class="flex flex-col gap-2">
                  <h3 class="text-sm uppercase mb-1 font-semibold">
                    Maximum amount you want to raise (Hard cap)
                  </h3>
                  <div class="flex flex-col lg:flex-row lg:items-center gap-4">
                    <div class="flex flex-row gap-4 items-center">
                      <span class="text-sm">To raise</span>
                      <input
                        appCurrencyMask
                        class="border-gray-400 rounded-lg"
                        type="text"
                        formControlName="hardCap"
                        [options]="{ precision: 0 }"
                      />
                    </div>

                    <div class="flex flex-row gap-4 items-center">
                      <div class="text-sm">
                        I will sell
                        <b class="px-2">
                          {{
                            allocationFromTotalSupply(
                              createForm1.get("hardCap")!.value,
                              stateData
                            ) | percent: "1.0-2"
                          }}
                        </b>
                        of {{ stateData.asset.name | uppercase }} tokens
                      </div>
                    </div>

                    <div class="flex flex-row items-center gap-4">
                      <div class="text-sm">with price per token:</div>
                      <input
                        appCurrencyMask
                        [options]="{ precision: 4 }"
                        class="border-gray-400 rounded-lg w-1/3 lg:w-32"
                        type="text"
                        formControlName="tokenPrice"
                      />
                    </div>
                  </div>

                  <div class="flex flex-col gap-2 min-h-[1px]">
                    <ng-container *ngIf="createForm1.get('hardCap') as hardCap">
                      <span
                        class="text-red-600 text-xs font-semibold"
                        *ngIf="
                          createForm1.invalid &&
                          (hardCap.dirty || hardCap.touched)
                        "
                      >
                        <ng-container
                          *ngIf="createForm1.errors?.hardCapBelowZero"
                        >
                          Hard cap must be greater than zero.
                        </ng-container>

                        <ng-container
                          *ngIf="createForm1.errors?.hardCapAboveUserBalance"
                        >
                          Hard cap exceeds your current token balance.
                        </ng-container>
                      </span>
                    </ng-container>

                    <ng-container
                      *ngIf="createForm1.get('tokenPrice') as tokenPrice"
                    >
                      <span
                        class="text-red-600 text-xs font-semibold"
                        *ngIf="
                          createForm1.invalid &&
                          (tokenPrice.dirty || tokenPrice.touched)
                        "
                      >
                        <ng-container
                          *ngIf="createForm1.errors?.tokenPriceBelowZero"
                        >
                          Token price must be greater than zero.
                        </ng-container>
                      </span>
                    </ng-container>
                  </div>
                </div>

                <div class="flex flex-col">
                  <h3 class="text-sm uppercase font-semibold mb-1">
                    Minimum target for successful campaign (Soft cap)
                  </h3>
                  <div class="flex flex-col lg:flex-row lg:items-center gap-2">
                    <div class="flex flex-row gap-4 items-center">
                      <div class="text-sm">To raise</div>
                      <input
                        appCurrencyMask
                        class="border-gray-400 rounded-lg"
                        [options]="{ precision: 0 }"
                        type="text"
                        formControlName="softCap"
                      />
                    </div>

                    <div class="mt-2">
                      <div class="text-sm">
                        I will sell
                        <b class="px-2">
                          {{
                            allocationFromTotalSupply(
                              createForm1.get("softCap")!.value,
                              stateData
                            ) | percent: "1.0-2"
                          }}
                        </b>
                        of {{ stateData.asset.name | uppercase }} tokens
                      </div>
                    </div>
                  </div>

                  <div class="flex flex-col gap-2 min-h-[1rem] mt-2">
                    <ng-container *ngIf="createForm1.get('softCap') as softCap">
                      <span
                        class="text-red-600 text-xs font-semibold"
                        *ngIf="
                          createForm1.invalid &&
                          (softCap.dirty || softCap.touched)
                        "
                      >
                        <ng-container
                          *ngIf="createForm1.errors?.softCapBelowZero"
                        >
                          Soft cap must be greater than zero.
                        </ng-container>

                        <ng-container
                          *ngIf="createForm1.errors?.softCapOverHardCap"
                        >
                          Soft cap price must be less or equal to hard cap.
                        </ng-container>
                      </span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-col mb-8">
              <label class="text-sm uppercase font-semibold mb-1">
                Campaign flavor
              </label>
              <select
                class="border-gray-400 rounded-lg w-full lg:w-64 disabled:bg-gray-100"
                formControlName="flavor"
              >
                <option
                  [value]="campaignFlavor.BASIC"
                  *ngIf="campaignFactory.basic"
                >
                  Basic
                </option>
                <option
                  [value]="campaignFlavor.VESTING"
                  *ngIf="campaignFactory.vesting"
                >
                  Vesting
                </option>
              </select>
            </div>

            <div class="flex flex-col gap-6 lg:w-2/3">
              <div class="flex flex-col gap-4">
                <h3 class="text-sm uppercase font-semibold">
                  Do you want to set up minimum & maximum amount to invest?
                </h3>
                <div class="flex flex-col lg:flex-row gap-2">
                  <app-form-yes-no-buttons
                    formControlName="hasMinAndMaxInvestment"
                    (ngModelChange)="toggleMinAndMaxInvestmentControls($event)"
                  >
                  </app-form-yes-no-buttons>
                  <div
                    class="flex flex-row gap-8 overflow-hidden transition-all ease-in-out duration-300"
                    [class]="
                      createForm1.get('hasMinAndMaxInvestment')?.value
                        ? 'max-w-full max-h-full'
                        : 'max-w-0 max-h-0 lg:max-h-full invisible'
                    "
                  >
                    <input
                      appCurrencyMask
                      type="text"
                      placeholder="Min"
                      formControlName="minInvestment"
                      class="border-gray-400 disabled:bg-gray-100 rounded-lg w-1/2"
                    />
                    <input
                      appCurrencyMask
                      type="text"
                      placeholder="Max"
                      formControlName="maxInvestment"
                      class="border-gray-400 disabled:bg-gray-100 rounded-lg w-1/2"
                    />
                  </div>
                </div>
                <div class="flex flex-col gap-2 min-h-[1rem]">
                  <ng-container *ngIf="createForm1.get('minInvestment') as min">
                    <span
                      class="text-red-600 text-xs font-semibold"
                      *ngIf="createForm1.invalid && (min.dirty || min.touched)"
                    >
                      <ng-container *ngIf="createForm1.errors?.minBelowZero">
                        Minimum value must be above zero.
                      </ng-container>

                      <ng-container *ngIf="createForm1.errors?.minOverMax">
                        Minimum value must be less or equal to maximum value.
                      </ng-container>
                    </span>
                  </ng-container>

                  <ng-container *ngIf="createForm1.get('maxInvestment') as max">
                    <span
                      class="text-red-600 text-xs font-semibold"
                      *ngIf="createForm1.invalid && (max.dirty || max.touched)"
                    >
                      <ng-container *ngIf="createForm1.errors?.maxBelowZero">
                        Maximum value must be above zero.
                      </ng-container>

                      <ng-container *ngIf="createForm1.errors?.maxOverHardCap">
                        Maximum value must be less or equal to hard cap.
                      </ng-container>
                    </span>
                  </ng-container>
                </div>
              </div>

              <div class="flex flex-col gap-2">
                <h3 class="text-sm uppercase font-semibold">
                  Will you be returning profits to your investors?
                </h3>
                <div class="flex flex-col lg:flex-row gap-8">
                  <app-form-yes-no-buttons
                    formControlName="isReturningProfitsToInvestors"
                    (ngModelChange)="toggleReturnFrequencyControls($event)"
                  >
                  </app-form-yes-no-buttons>
                  <div
                    class="flex flex-row items-center gap-8 overflow-hidden transition-all ease-in-out duration-300"
                    [class]="
                      createForm1.get('isReturningProfitsToInvestors')?.value
                        ? 'max-w-full max-h-full'
                        : 'max-w-0 max-h-0 lg:max-h-full invisible'
                    "
                  >
                    <label class="font-semibold lg:w-32 whitespace-nowrap">
                      How often?
                    </label>
                    <select
                      class="border-gray-400 rounded-lg w-full lg:w-64 disabled:bg-gray-100"
                      formControlName="returnFrequency"
                    >
                      <option value="" disabled selected hidden>
                        Select answer
                      </option>
                      <option
                        *ngFor="let item of returnFrequencyNames | keyvalue"
                        value="{{ item.key }}"
                      >
                        {{ item.value }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div
                class="flex flex-col gap-4 overflow-hidden transition-all ease-in-out duration-300"
                [class]="
                  createForm1.get('isReturningProfitsToInvestors')?.value
                    ? 'max-w-full max-h-full'
                    : 'max-w-0 max-h-0 -mt-6 invisible'
                "
              >
                <h3 class="text-lg font-semibold whitespace-nowrap">
                  Is your return value fixed?
                </h3>
                <div class="flex flex-col lg:flex-row gap-8">
                  <app-form-yes-no-buttons
                    formControlName="isReturnValueFixed"
                    (ngModelChange)="toggleReturnToControls($event)"
                  >
                  </app-form-yes-no-buttons>
                  <div class="flex flex-row gap-8">
                    <input
                      appPercentageMask
                      class="border-gray-400 disabled:bg-gray-100 rounded-lg transition-all ease-in-out duration-300"
                      [class]="
                        createForm1.get('isReturnValueFixed')?.value
                          ? 'lg:w-48 w-full'
                          : 'lg:w-48 w-1/2'
                      "
                      [placeholder]="
                        createForm1.get('isReturnValueFixed')?.value
                          ? 'Return'
                          : 'From'
                      "
                      type="text"
                      formControlName="returnFrom"
                    />
                    <div
                      class="flex overflow-hidden transition-all ease-in-out duration-300"
                      [class]="
                        createForm1.get('isReturnValueFixed')?.value
                          ? '-ml-4 w-0 invisible'
                          : 'ml-0 w-1/2'
                      "
                    >
                      <input
                        appPercentageMask
                        class="w-full border-gray-400 disabled:bg-gray-100 rounded-lg"
                        type="text"
                        placeholder="To"
                        formControlName="returnTo"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col gap-4">
                <h3 class="text-sm uppercase font-semibold">
                  Do you require ID verification for your investors?
                </h3>
                <app-form-yes-no-buttons
                  formControlName="isIdVerificationRequired"
                >
                </app-form-yes-no-buttons>
              </div>
            </div>

            <div
              class="flex flex-col lg:flex-row justify-center lg:justify-end mt-8"
            >
              <button
                class="app-button !px-24 !py-2 flex items-center gap-2"
                [disabled]="!createForm1.valid"
                (click)="secondCreationStep()"
              >
                Next
              </button>
            </div>
          </form>

          <form
            [class.hidden]="(step$ | async) !== stepType.CREATION_SECOND"
            class="contents"
            [formGroup]="createForm2"
          >
            <div class="flex flex-col gap-8 lg:w-3/3">
              <div class="flex flex-col gap-4 pt-6">
                <h3 class="text-lg font-semibold">Select a main image</h3>
                <div class="relative w-full lg:w-2/3">
                  <div class="flex justify-center w-full absolute top-32">
                    <label
                      class="flex items-center gap-8 px-8 py-2 rounded-full bg-emerald-600 text-white text-lg cursor-pointer"
                    >
                      <input
                        class="hidden"
                        type="file"
                        formControlName="logo"
                        multiple
                      />
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6 1V6M6 6V11M6 6H11M6 6H1"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      <span>Upload image</span>
                    </label>
                  </div>
                  <img
                    *ngIf="createForm2.get('logo')?.value?.[0]; else noImage"
                    class="w-full h-72 object-cover"
                    [src]="(createForm2.get('logo')?.value?.[0] | safe:'fileUrl') | toUrlIPFS"
                    alt="Campaign image"
                  />
                  <ng-template #noImage>
                    <div
                      class="w-full h-72 bg-gray-100 border-gray-500 border-2 border-dashed"
                    >
                      <svg
                        class="w-full h-full"
                        width="490"
                        height="284"
                        viewBox="0 0 490 284"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M47 251.231L186.36 36.4102L273.348 136.43L323.944 87.159L442 251.231H393.874H109.726H47Z"
                          fill="white"
                          fill-opacity="0.5"
                        />
                        <path
                          d="M381 85.8594C395.912 85.8594 408 73.7711 408 58.8594C408 43.9477 395.912 31.8594 381
                                 31.8594C366.088 31.8594 354 43.9477 354 58.8594C354 73.7711 366.088 85.8594 381
                                 85.8594Z"
                          fill="white"
                          fill-opacity="0.5"
                          stroke="#9CA3AF"
                          stroke-width="4"
                          stroke-miterlimit="10"
                        />
                        <path
                          d="M68.2383 250.473H409.018"
                          stroke="#9CA3AF"
                          stroke-width="4"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                        />
                        <path
                          d="M429 234.846L323.567 89.629L274.528 137.982L187.607 39.1406L77 205.688"
                          stroke="#9CA3AF"
                          stroke-width="4"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                        />
                      </svg>
                    </div>
                  </ng-template>
                </div>
              </div>

              <div class="flex flex-col gap-4 lg:pr-2">
                <label class="text-lg font-semibold">
                  Write a short description of your project
                </label>
                <textarea
                  class="border-gray-400 rounded-lg"
                  placeholder="Short description"
                  formControlName="about"
                >
                </textarea>
              </div>
            </div>

            <label class="text-lg font-semibold mt-4">
              Describe your project
            </label>
            <div class="flex flex-col gap-4 lg:flex-row mt-2 lg:h-[36rem]">
              <quill-editor
                class="lg:w-3/3 lg:h-[30rem]"
                formControlName="description"
                (onEditorCreated)="quillMods($event)"
                (onContentChanged)="markDescriptionAsDirty()"
              >
              </quill-editor>
            </div>

            <div class="flex flex-col gap-4">
              <label class="text-lg font-semibold">
                What is the duration of your project?
              </label>
              <div class="flex flex-col lg:flex-row gap-8">
                <input
                  appDateMask
                  class="border-gray-400 rounded-lg"
                  type="text"
                  placeholder="From"
                  formControlName="startDate"
                />
                <input
                  appDateMask
                  class="border-gray-400 rounded-lg"
                  type="text"
                  placeholder="To"
                  formControlName="endDate"
                />
              </div>
            </div>

            <label class="text-2xl text-indigo-900 mt-16 mb-8">
              Project documents
            </label>

            <div class="lg:flex lg:justify-start">
              <label
                class="flex items-center justify-center w-full lg:w-auto gap-4 px-8 py-2 rounded-full bg-emerald-600 text-white text-lg cursor-pointer"
              >
                <input
                  class="hidden"
                  type="file"
                  formControlName="documentUpload"
                  (ngModelChange)="onDocumentFilesAdded($event)"
                  multiple
                />
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 1V6M6 6V11M6 6H11M6 6H1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Upload documents</span>
              </label>
            </div>

            <div class="flex flex-col lg:flex-row lg:flex-wrap gap-4 mt-4">
              <ng-container
                *ngFor="
                  let document of createForm2.get('documents')?.value;
                  let i = index
                "
              >
                <div
                  class="flex flex-row justify-between items-center border-2 border-gray-300 rounded-full pl-4 pr-2 py-2 gap-2"
                >
                  <svg
                    width="22"
                    height="26"
                    viewBox="0 0 22 26"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M7.00033 19.6667V17M11.0003 19.6667V14.3333M15.0003 19.6667V11.6667M17.667
                             25H4.33366C3.62641 25 2.94814 24.719 2.44804 24.219C1.94794 23.7189 1.66699 23.0406 1.66699
                             22.3333V3.66667C1.66699 2.95942 1.94794 2.28115 2.44804 1.78105C2.94814 1.28095 3.62641 1
                             4.33366 1H11.7817C12.1353 1.00008 12.4743 1.1406 12.7243 1.39067L19.943 8.60933C20.1931
                             8.85932 20.3336 9.19841 20.3337 9.552V22.3333C20.3337 23.0406 20.0527 23.7189 19.5526
                             24.219C19.0525 24.719 18.3742 25 17.667 25Z"
                      stroke="#3F3F46"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <div class="text-sm">
                    {{ document.name }}
                  </div>
                  <button
                    class="rounded-full bg-red-500 p-2"
                    (click)="removeDocumentFile(i)"
                  >
                    <svg
                      width="12"
                      height="12"
                      viewBox="0 0 12 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M1.5 1.5L10.5 10.5M1.5 10.5L10.5 1.5L1.5 10.5Z"
                        stroke="white"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </button>
                </div>
              </ng-container>
            </div>

            <label class="text-2xl text-indigo-900 mt-16 mb-8">
              Links to related news
            </label>

            <div formArrayName="newsUrls">
              <ng-container
                *ngFor="let control of newsUrlsControls(); let i = index"
              >
                <div class="flex flex-row items-center gap-4 mb-2">
                  <input
                    class="border-gray-400 rounded-lg w-full lg:w-2/3"
                    type="text"
                    [formControl]="control"
                  />
                  <div>
                    <button
                      class="rounded-full bg-red-500 p-2"
                      (click)="removeNewsUrl(i)"
                    >
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.5 1.5L10.5 10.5M1.5 10.5L10.5 1.5L1.5 10.5Z"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>

            <div class="lg:flex lg:justify-start">
              <button
                class="flex items-center justify-center w-full lg:w-auto gap-8 px-8 py-2 rounded-full bg-emerald-600 text-white text-lg"
                (click)="addNewsUrl()"
              >
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6 1V6M6 6V11M6 6H11M6 6H1"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Add link</span>
              </button>
            </div>

            <div
              class="flex flex-col lg:flex-row justify-center lg:justify-between mt-8 gap-8"
            >
              <button
                class="app-button !px-24 !py-2 flex items-center gap-2"
                (click)="firstCreationStep()"
              >
                Back
              </button>
              <button
                class="app-button !px-24 !py-2 flex items-center gap-2"
                [disabled]="!createForm2.valid"
                (click)="previewCampaignStep(stateData)"
              >
                Preview campaign
              </button>
            </div>
          </form>

          <div
            *ngIf="(step$ | async) === stepType.PREVIEW"
            class="flex flex-col gap-8 mt-2"
          >
            <div class="flex flex-col lg:flex-row">
              <div class="flex flex-col gap-8 lg:w-2/3">
                <div class="flex flex-col gap-4 pt-6">
                  <span class="text-lg font-semibold">Campaign title</span>
                  <span>{{ preview.info.name }}</span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Campaign URL</span>
                  <span
                    >{{ campaignUrl }}<b>{{ preview.data.slug }}</b></span
                  >
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Main image</span>
                  <div class="relative w-full lg:w-3/3">
                    <img
                      *ngIf="preview.info.photo; else noImage"
                      class="w-full h-72 object-cover"
                      [src]="preview.info.photo | safe: 'fileUrl' | toUrlIPFS"
                      alt="Campaign image"
                    />
                    <ng-template #noImage>
                      <div
                        class="w-full h-72 bg-gray-100 border-gray-200 border rounded-xl border-dashed"
                      >
                        <svg
                          class="w-full h-full"
                          width="490"
                          height="284"
                          viewBox="0 0 490 284"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M47 251.231L186.36 36.4102L273.348 136.43L323.944 87.159L442 251.231H393.874H109.726H47Z"
                            fill="white"
                            fill-opacity="0.5"
                          />
                          <path
                            d="M381 85.8594C395.912 85.8594 408 73.7711 408 58.8594C408 43.9477 395.912 31.8594 381
                                   31.8594C366.088 31.8594 354 43.9477 354 58.8594C354 73.7711 366.088 85.8594 381
                                   85.8594Z"
                            fill="white"
                            fill-opacity="0.5"
                            stroke="#9CA3AF"
                            stroke-width="4"
                            stroke-miterlimit="10"
                          />
                          <path
                            d="M68.2383 250.473H409.018"
                            stroke="#9CA3AF"
                            stroke-width="4"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                          />
                          <path
                            d="M429 234.846L323.567 89.629L274.528 137.982L187.607 39.1406L77 205.688"
                            stroke="#9CA3AF"
                            stroke-width="4"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                          />
                        </svg>
                      </div>
                    </ng-template>
                  </div>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Short description</span>
                  <span>{{ preview.info.about }}</span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Main description</span>
                  <quill-view
                    class="ql-editor-override"
                    [content]="preview.info.description"
                    format="html"
                    (onEditorCreated)="quillMods($event)"
                  ></quill-view>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Campaign flavor</span>
                  <span>{{ preview.flavor }}</span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Campaign duration</span>
                  <span>{{ previewDateRange() }}</span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Price per token</span>
                  <span>{{
                    preview.data.initialPricePerToken
                      | formatUnit: "tokenPrice"
                      | currencyDefault: "tokenPrice"
                  }}</span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold"
                    >Maximum amount to raise</span
                  >
                  <span>
                    <b>{{
                      preview.hardCap
                        | formatUnit: "stablecoin"
                        | currencyDefault
                    }}</b>
                  </span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold"
                    >Minimum amount to raise (Soft cap)</span
                  >
                  <span>
                    <b>{{
                      preview.data.softCap
                        | formatUnit: "stablecoin"
                        | currencyDefault
                    }}</b>
                  </span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Minimum investment</span>
                  <span>
                    {{
                      preview.data.minInvestment
                        | formatUnit: "stablecoin"
                        | currencyDefault
                    }}
                  </span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold">Maximum investment</span>
                  <span>
                    {{
                      preview.data.maxInvestment
                        | formatUnit: "stablecoin"
                        | currencyDefault
                    }}
                  </span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold"
                    >Returning profits to investors</span
                  >
                  <span>{{ previewReturn() }}</span>
                </div>

                <div class="flex flex-col gap-4">
                  <span class="text-lg font-semibold"
                    >ID verification required for investors</span
                  >
                  <span>{{
                    preview.data.whitelistRequired ? "Yes" : "No"
                  }}</span>
                </div>
              </div>

              <div class="flex flex-col gap-4 lg:w-1/3">
                <div class="mt-4 lg:mt-6 text-lg font-semibold">
                  Project Documents
                </div>
                <ng-container
                  *ngIf="preview.info.newDocuments.length > 0; else noDocuments"
                >
                  <div
                    *ngFor="let document of preview.info.newDocuments"
                    class="mt-4 flex items-center"
                  >
                    <svg
                      width="22"
                      height="26"
                      viewBox="0 0 22 26"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.00033 19.6667V17M11.0003 19.6667V14.3333M15.0003 19.6667V11.6667M17.667
                             25H4.33366C3.62641 25 2.94814 24.719 2.44804 24.219C1.94794 23.7189 1.66699 23.0406 1.66699
                             22.3333V3.66667C1.66699 2.95942 1.94794 2.28115 2.44804 1.78105C2.94814 1.28095 3.62641 1
                             4.33366 1H11.7817C12.1353 1.00008 12.4743 1.1406 12.7243 1.39067L19.943 8.60933C20.1931
                             8.85932 20.3336 9.19841 20.3337 9.552V22.3333C20.3337 23.0406 20.0527 23.7189 19.5526
                             24.219C19.0525 24.719 18.3742 25 17.667 25Z"
                        stroke="#3F3F46"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="ml-3 text-sm">
                      {{ document.name | truncate: 30:false:true }}
                    </span>
                  </div>
                </ng-container>

                <ng-template #noDocuments>
                  <span>No documents have been added</span>
                </ng-template>

                <div class="text-lg font-semibold mt-4">Related News</div>
                <ng-container
                  *ngIf="preview.info.newsURLs.length > 0; else noNewsUrls"
                >
                  <div
                    class="flex flex-col mt-2 px-4 bg-gray-100 rounded-lg divide-y-2"
                  >
                    <div
                      *ngFor="let link of preview.info.newsURLs"
                      class="py-4"
                    >
                      <a
                        href="{{ link }}"
                        class="text-lg"
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        {{ link | truncate: 30:false:true }}
                      </a>
                    </div>
                  </div>
                </ng-container>

                <ng-template #noNewsUrls>
                  <span>No news URLs have been added</span>
                </ng-template>
              </div>
            </div>

            <div
              class="flex flex-col lg:flex-row justify-center lg:justify-between mt-8 gap-8"
            >
              <button
                class="app-button !px-24 !py-2 flex items-center gap-2"
                (click)="secondCreationStep()"
              >
                Back
              </button>
              <button
                app-action-button
                class="app-button !px-24 !py-2 flex items-center gap-2"
                text="Create campaign"
                [onClick]="create(stateData).bind(this)"
              ></button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="stateRes.error">
          Cannot fetch asset data.
          <div hidden>{{ stateRes.error | json }}</div>
        </ng-container>

        <ng-container *ngIf="stateRes.loading">
          <app-spinner type="overlay"> Loading asset data... </app-spinner>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
