<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <ng-container *ngIf="issuers$ | async as issuers">
    <ng-container *ngIf="address$ | async as address">
      <ng-container *ngIf="issuers.value">
        <div>
          Select issuer:
        </div>
        <div class="flex flex-wrap space-x-2 mt-2">
          <ng-container *ngFor="let issuer of issuers.value">
            <div class="p-2 bg-blue-400 rounded-lg relative min-w-[12rem]">
              <span>{{ issuer.name }}</span>
              <img class="max-w-30 max-h-20" src="{{ issuer.logo | toImageURL }}" alt="Issuer logo">
              <!-- Edit button -->
              <div class="absolute p-2 top-0 right-0"
                   *ngIf="address === issuer.owner">
                <button class="bg-gray-300 shadow-md rounded-md p-1"
                        routerLink="{{ '0x753521D4B6eB57B4CF1EF3e56f9Ff49402f4aFcD' }}/edit">
                  <!--                        TODO: set to issuer.address when ready -->
                  <!--                        routerLink="{{ issuer.id }}/edit">-->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24"
                       stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                  </svg>
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="issuers.error">
        Cannot fetch issuers: {{ issuers.error }}
      </ng-container>

      <ng-container *ngIf="issuers.loading">
        Loading issuers
      </ng-container>
    </ng-container>
  </ng-container>
</div>
