<ng-container *ngIf="openTab$ | async as openTab">
    <div *ngIf="contracts$ | async as contracts; else loading" class="flex flex-col">
        <div class="flex flex-row tracking-wide
         justify-center uppercase text-sm mt-4 font-medium text-gray-500">
            <div class="border-b-[3px]
            cursor-pointer border-transparent text-center pb-2 px-4"
            [class.text-violet-700]="isOpenTab('MY_CONTRACTS')"
            [class.!border-violet-700]="isOpenTab('MY_CONTRACTS')">
                My Contracts
            </div>
            <div [class.text-violet-700]="isOpenTab('EXTERNAL')"
            [class.border-violet-700]="isOpenTab('EXTERNAL')"
            class="px-4 w-44 text-center border-transparent cursor-pointer border-b-[3px]">
                External
            </div>
            <div [class.text-violet-700]="isOpenTab('CUSTOM')"
            [class.border-violet-700]="isOpenTab('CUSTOM')"
             class="px-4 w-44 text-center border-transparent cursor-pointer border-b-[3px]">
                Custom
            </div>
        </div>
        <input *ngIf="contracts.requests.length > 0;" class="w-full border-gray-200 rounded-lg mb-4"
            placeholder="Search" type="text">

        <div *ngIf="contracts.requests.length > 0;" class="px-2 flex flex-row mb-2">
            <div class="font-medium text-violet-700 w-3/12">Alias</div>
            <div class="font-medium text-violet-700 w-3/12">Address</div>
            <div class="font-medium text-violet-700 w-6/12">Type</div>
        </div>
        <div *ngIf="contracts.requests.length > 0; else emptyContracts">
            <div class="px-2 flex flex-row items-center text-gray-700 cursor-pointer hover:bg-gray-100"
                *ngFor="let contract of contracts.requests" (click)="selectItem(contract)">
                <div class="font-medium text-sm my-3 w-3/12">
                    {{contract.alias}}
                </div>
                <div class="font-medium flex items-center text-gray-500 flex-row justify-start text-xs my-3 w-3/12">
                    <div class="mr-2">{{contract.contract_address | addrShort}}</div>
                    <app-value-copy [value]="contract.contract_address"></app-value-copy>
                </div>
                <div class="font-medium text-xs text-gray-500 my-3 w-6/12">
                    {{contract.contract_id}}
                </div>
            </div>
        </div>
        <ng-template #emptyContracts>
            <div class="w-full border rounded-lg h-24 flex flex-row justify-center items-center">
                No contracts to recommend
            </div>
        </ng-template>

    </div>

    <ng-template #loading>
        <div class="w-full h-48 border rounded-lg flex flex-row items-center justify-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>
</ng-container>