<div class="w-full bg-violet-50 rounded-lg px-2 py-2 flex flex-col text-gray-700">
    <div (click)="toggle()" class="flex flex-row justify-between cursor-pointer hover:bg-violet-100 px-2 py-1 rounded-lg">
        <div class="flex flex-col w-10/12">
            <div class="text-sm mb-1 font-semibold">{{functionManifest.name}}</div>
            <div class="text-xs text-gray-500">{{functionManifest.description}}</div>
        </div>
        <div class="w-2/12 flex flex-row justify-end text-xs uppercase font-semibold">
            <div class="text-violet-800" *ngIf="functionManifest.read_only">Read</div>
            <div class="text-amber-500" *ngIf="!functionManifest.read_only">Write</div>
        </div>
    </div>
    <div class="flex flex-col px-2" *ngIf="isSelected$ | async">
        <hr class="w-full my-2">
        <div class="flex flex-col mt-2" *ngFor="let input of functionManifest.inputs">
            <div class="font-semibold text-sm">{{input.name}}</div>
            <div class="mt-[0.125rem] mb-1 text-xs text-gray-500">{{input.description}}</div>
            <app-smart-input [rootForm]="form" [controlName]="input.solidity_name"
                [formFinishedLoadingSub]="formFinishedSub"></app-smart-input>
        </div>
        <div class="flex flex-row mt-2">
            <button *ngIf="functionManifest.read_only" app-action-button text="Read value" 
            [onClick]="executeReadFunction().bind(this)"
                class="w-1/2 mr-1 bg-violet-700 rounded-lg py-2 text-white font-semibold"></button>
            
            <button *ngIf="!functionManifest.read_only" app-action-button text="Create TX Request"
                [onClick]="executeWriteFunction().bind(this)" 
                class="w-1/2 mr-1 bg-violet-700 rounded-lg py-2 text-white font-semibold"></button>

            <button app-action-button text="Add to workflow" 
                class="w-1/2 ml-1 bg-violet-700 rounded-lg py-2 text-white font-semibold"></button>
        </div>

        <div *ngIf="result$ | async as result" 
            class="bg-white rounded-lg p-4 flex flex-row text-sm mt-2">
            <div class="font-mono" *ngIf="functionManifest.read_only">
                {{result.result}}
            </div>
            <div *ngIf="!functionManifest.read_only">
                <button [routerLink]="result.result | issuerPath" 
                class="bg-violet-700 rounded-lg text-white 
                font-medium text-xs uppercase shadow-md px-4 py-2 hover:bg-violet-900">
                    Open transaction link
                </button>
            </div>
        </div>
    </div>
</div>

