<div class="flex justify-center w-full mb-12 mt-8">
    <div class="rounded-3xl pb-12 shadow-md max-w-6xl bg-white flex flex-col">
        <div class="relative">
            <img class="rounded-t-3xl h-96 w-full object-cover" src="https://images.pexels.com/photos/325944/pexels-photo-325944.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" srcset="">
            <div class="bg-white shadow-md p-6 h-10 rounded-full absolute top-8 left-8 flex items-center">
                <span class="font-bold text-lg">4%</span>
                <span class="ml-2 font-light text-sm">Annual interest rate</span>
                <span class="ml-6 font-bold text-lg">$653000</span>
                <span class="ml-2 font-light">Max investment</span>
                <span class="ml-6 font-bold text-lg">$100</span>
                <span class="ml-2 font-light">Min investment</span> 
            </div>
        </div>
        <div class="w-full bg-white h-full flex pt-8 pl-14">

            <!-- LEFT COLUMN -->
            <div class="w-full pr-8 leading-normal">
                <h1 class="text-4xl font-light tracking-wider leading-relaxed">Wind Farm Zagreb</h1>
                <div class="mt-4 flex">
                    <p class="text-light text-gray-500">Published by:</p>
                    <p class="text-light text-indigo-800 ml-2 cursor-pointer">{{ offer.publishedBy }}</p>
                </div>
                <div class="mt-4 text-lg font-light text-gray-500">
                    {{ offer.shortDescription }}
                </div>
                <button (click)="printOffer()">Print</button>
                <div class="mt-4 font-light text-gray-700" [innerHtml]="offer.content">
                    
                </div>
            </div>

            <!-- RIGHT COLUMN -->
            <div class="w-7/12 pr-14 sticky top-0">
                <div class="w-full flex items-center">
                    <span class=" text-sm font-bold">$25000</span>
                    <span class="mx-1 font-light">of</span>
                    <span class=" text-sm font-bold">$250000</span>
                </div>
                <div class="relative pt-1 mt-2">
                    <div class="overflow-hidden h-2 mb-2 text-xs flex rounded bg-gray-200">
                      <div style="width:30%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-800"></div>
                    </div>
                </div>
                <div class="w-full flex justify-between">
                    <div class=" font-bold text-indigo-800 text-sm">30% funded</div>
                    <div class=" font-light text-gray-400 text-sm">Mar 12 - Sept 13</div>
                </div>
                <button class="w-full py-4 rounded-full bg-indigo-800 text-white mt-7 flex items-center justify-center">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 10C2.5 7.87827 3.34285 5.84344 4.84315 4.34315C6.34344 2.84285 8.37827 2 10.5 2V10H18.5C18.5 12.1217 17.6571 14.1566 16.1569 15.6569C14.6566 17.1571 12.6217 18 10.5 18C8.37827 18 6.34344 17.1571 4.84315 15.6569C3.34285 14.1566 2.5 12.1217 2.5 10Z" fill="white"/>
                        <path d="M12.5 2.25195C13.8836 2.61042 15.1462 3.3324 16.1569 4.34307C17.1676 5.35375 17.8895 6.61633 18.248 7.99995H12.5V2.25195Z" fill="white"/>
                    </svg>
                    <span class="ml-2">Invest</span>
                </button>
                <div class="mt-10 text-lg uppercase font-light">Project Documents</div>
                <div class="mt-4 flex items-center cursor-pointer">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 20V21C8 21.7956 8.31607 22.5587 8.87868 23.1213C9.44129 23.6839 10.2044 24 11 24H21C21.7956 24 22.5587 23.6839 23.1213 23.1213C23.6839 22.5587 24 21.7956 24 21V20M20 16L16 20M16 20L12 16M16 20V8" stroke="#3730A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ml-3 text-sm">Business Plan</p>
                </div>
                <div class="mt-4 flex items-center cursor-pointer">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 20V21C8 21.7956 8.31607 22.5587 8.87868 23.1213C9.44129 23.6839 10.2044 24 11 24H21C21.7956 24 22.5587 23.6839 23.1213 23.1213C23.6839 22.5587 24 21.7956 24 21V20M20 16L16 20M16 20L12 16M16 20V8" stroke="#3730A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ml-3 text-sm">Corruption Documents</p>
                </div>
                <div class="mt-4 flex items-center cursor-pointer">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 20V21C8 21.7956 8.31607 22.5587 8.87868 23.1213C9.44129 23.6839 10.2044 24 11 24H21C21.7956 24 22.5587 23.6839 23.1213 23.1213C23.6839 22.5587 24 21.7956 24 21V20M20 16L16 20M16 20L12 16M16 20V8" stroke="#3730A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ml-3 text-sm">Panama Papers</p>
                </div>
                <div class="mt-10 text-lg uppercase font-light">Project News</div>
                <div class="mt-4 flex items-center cursor-pointer">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.3333 18.3333H13V13H11.6667M13 7.66667H13.0133M25 13C25 14.5759 24.6896 16.1363 24.0866 17.5922C23.4835 19.0481 22.5996 20.371 21.4853 21.4853C20.371 22.5996 19.0481 23.4835 17.5922 24.0866C16.1363 24.6896 14.5759 25 13 25C11.4241 25 9.86371 24.6896 8.4078 24.0866C6.95189 23.4835 5.62902 22.5996 4.51472 21.4853C3.40042 20.371 2.5165 19.0481 1.91345 17.5922C1.31039 16.1363 1 14.5759 1 13C1 9.8174 2.26428 6.76516 4.51472 4.51472C6.76516 2.26428 9.8174 1 13 1C16.1826 1 19.2348 2.26428 21.4853 4.51472C23.7357 6.76516 25 9.8174 25 13Z" stroke="#3730A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="ml-3 text-sm">Updates Regarding the Project</p>
                </div>
            </div>
        </div>
    
    </div>
</div>

