<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <h1 class="my-2 text-2xl uppercase">
    New Issuer
  </h1>

  <form [formGroup]="createForm">
    <label class="block mt-2">
      <span>Name</span>
      <input type="text" formControlName="name">
    </label>

    <label class="block mt-2">
      <span>Slug</span>
      <input type="text" formControlName="slug">
    </label>

    <div class="mt-2">
      <label for="logo">Logo</label>
      <img class="p-4 max-w-xs max-h-xs"
           *ngIf="createForm.get('logo')?.value?.[0]"
           [src]="(createForm.get('logo')?.value?.[0] | safe:'fileUrl') | toUrlIPFS"
           alt="Issuer Logo">
      <input id="logo" type="file" formControlName="logo" multiple>
    </div>

    <label class="block mt-2">
      <span>Stablecoin address</span>
      <input type="text" formControlName="stablecoinAddress">
    </label>

    <button app-action-button
            class="bg-indigo-800 disabled:bg-gray-400 mt-2 px-24 py-2 rounded-full text-white"
            text="Create"
            [disabled]="!createForm.valid"
            [onClick]="create.bind(this)">
    </button>
  </form>
</div>
