<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="bg-white my-8 p-6 rounded-4xl">
    <h1 class="my-2 text-2xl uppercase">
      New Public Issuer
    </h1>

    <form [formGroup]="createForm">
      <div class="flex flex-col lg:flex-row gap-6 mt-4">
        <div class="flex flex-col gap-2">
          <label class="text-lg font-semibold" for="logo">
            Logo
          </label>
          <div class="relative w-full lg:w-72">
            <div class="flex justify-center w-full absolute top-32 lg:top-40">
              <label class="flex items-center gap-4 px-8 py-2 rounded-full bg-emerald-600 text-white text-lg
                          cursor-pointer">
                <input class="hidden" type="file" formControlName="logo" id="logo" multiple>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 1V6M6 6V11M6 6H11M6 6H1" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"/>
                </svg>
                <span>Upload logo</span>
              </label>
            </div>
            <img *ngIf="createForm.get('logo')?.value?.[0]; else noImage" class="w-full h-48 lg:h-56 object-contain"
                 [src]="(createForm.get('logo')?.value?.[0] | safe:'fileUrl') | toUrlIPFS"
                 alt="Issuer logo">
            <ng-template #noImage>
              <div class="w-full h-48 lg:h-56 bg-gray-200"></div>
            </ng-template>
          </div>
        </div>

        <div>
          <div class="flex flex-col gap-2">
            <label class="text-lg font-semibold" for="name">
              Issuer Name
            </label>
            <input class="border-gray-400 rounded-lg"
                   type="text" formControlName="name" id="name"
                   autocomplete="off">
          </div>

          <div class="flex flex-col gap-2 mt-4">
            <label class="text-lg font-semibold" for="slug">
              Slug
            </label>
            <div class="flex items-baseline gap-2">
              <div class="text-sm shrink-0">
                {{ issuerUrlPrefix | addrShort:12:20 }}
              </div>
              <input class="border-gray-400 rounded-lg w-full"
                     type="text" formControlName="slug" id="slug"
                     placeholder="slug" autocomplete="off">
            </div>
            <div class="text-xs text-red-600" *ngIf="createForm.get('slug')?.errors?.pattern">
              Incorrect value. Allowed input: a-z, 0-9, -, _.
            </div>
          </div>

          <div class="flex flex-col gap-2 mt-4"
               *ngIf="(altKeyActive$ | async) === true">
            <label class="text-lg font-semibold" for="stablecoin-address">
              Stablecoin address
            </label>
            <input class="border-gray-400 rounded-lg" type="text"
                   formControlName="stablecoinAddress" id="stablecoin-address"
                   autocomplete="off">
          </div>

          <div class="flex items-baseline gap-1.5 flex-wrap mt-4"
               *ngIf="(stablecoin$ | async) as stablecoin">
            <span class="font-semibold">Stablecoin</span>
            <span>{{ stablecoin.symbol }}</span>
            <span class="grow-0">{{ stablecoin.address | addrShort }}</span>

            <app-value-copy [value]="stablecoin.address" [delay]="800">
            </app-value-copy>

            <app-explorer-link [value]="stablecoin.address">
            </app-explorer-link>

            <app-add-to-metamask [value]="stablecoin.address">
            </app-add-to-metamask>
          </div>
        </div>
      </div>

      <div class="flex mt-4 md:justify-end">
        <button app-action-button
                class="app-button !px-12"
                text="Create"
                [disabled]="!createForm.valid"
                [onClick]="create.bind(this)">
        </button>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="updateSlugFromName$ | async"></ng-container>
