<div class="flex flex-col w-full">
    <div class="flex flex-row justify-center mb-4 uppercase w-full font-semibold text-sm">Enter duration</div>
    <div class="w-full flex flex-row flex-wrap justify-start text-gray-700 items-center pb-4">
        <div class="flex flex-col mr-2">
            <div class="text-xs uppercase font-semibold mb-1 mt-3">Years</div>
            <input placeholder="0" class="rounded-lg border-gray-200 w-16 text-sm" type="number">
        </div>
        <div class="flex flex-col mr-2">
            <div class="text-xs uppercase font-semibold mb-1 mt-3">Months</div>
            <input placeholder="0" class="rounded-lg border-gray-200 w-16 text-sm" type="number">
        </div>
        <div class="flex flex-col mr-2">
            <div class="text-xs uppercase font-semibold mb-1 mt-3">Days</div>
            <input placeholder="0" class="rounded-lg border-gray-200 w-16 text-sm" type="number">
        </div>
        <div class="flex flex-col mr-2">
            <div class="text-xs uppercase font-semibold mb-1 mt-3">Hours</div>
            <input placeholder="0" class="rounded-lg border-gray-200 w-16 text-sm" type="number">
        </div>
        <div class="flex flex-col mr-2">
            <div class="text-xs uppercase font-semibold mb-1 mt-3">Minutes</div>
            <input placeholder="0" class="rounded-lg border-gray-200 w-16 text-sm" type="number">
        </div>
        <div class="flex flex-col mr-2">
            <div class="text-xs uppercase font-semibold mb-1 mt-3">Seconds</div>
            <input placeholder="0" class="rounded-lg border-gray-200 w-28 text-sm" type="number">
        </div>
    </div>
    <div class="flex flex-row justify-end text-xs text-gray-500">
        Calculated duration in seconds: 25556
    </div>
    <button class="w-full bg-violet-700 py-2 mt-2 rounded-lg hover:bg-violet-900 transition-all
    text-white font-semibold flex flex-row justify-center text-xs uppercase">
        Confirm
    </button>
    
</div>
