<div class="flex flex-col">
  <div class="flex-grow-0 sticky top-0 h-16">
    <app-navbar></app-navbar>
  </div>
  <div class="flex">
    <div class="w-0 opacity-0 invisible md:w-64 md:opacity-100 md:visible
    transition-all ease-in-out duration-100 flex-shrink-0"
         [class]="(isOpen$ | async) ? 'w-64 visible opacity-100' : ''">
      <app-sidebar></app-sidebar>
    </div>
    <div class="block w-full transition ease-in-out overflow-hidden">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
