<div class="flex flex-col h-full bg-blue-50">
  <div class="flex-grow-0 sticky top-0 h-20">
    <app-navbar></app-navbar>
  </div>
  <div class="top-4 flex overflow-x-hidden h-full relative ">

    <div class="bg-gray-900 absolute w-full h-full z-10
    transition-all ease-in-out duration-75 opacity-0 invisible"
         [class]="(isOpen$ | async) ? '!visible !opacity-30' : ''"
         (click)="hideNavbar()">
    </div>
    <div class="flex flex-col flex-grow-1 w-full overflow-x-hidden"
         [class.flex-shrink-0]="isOpen$ | async">
      <main class="flex-1">
        <router-outlet></router-outlet>
      </main>
      <footer>
        <app-footer></app-footer>
      </footer>
    </div>
  </div>
</div>
