.layout-bg {
  background: linear-gradient(180deg, rgb(242, 247, 255) 25%, rgba(255,255,255,0) 100%);
}

.bg-scrolled {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(243, 244, 254, 1);
  transition: all 0.1s;
}
