<div class="flex flex-row">


<span *ngIf="balance$ | async as balance" class="flex flex-col h-full justify-center mr-2">
  <div class="flex flex-row px-4 py-2 bg-violet-100 text-violet-800 rounded-lg">
    <div class="text-xs py-1 flex flex-row font-medium mr-2">
      <span class="font-medium text-gray-700">Gas available:</span>
      <span class="ml-1 font-bold">
        {{
          balance
            | formatUnit: "token":18
            | currencyDefault: "token":"real":"MATIC"
        }}
      </span>  
    </div>
  </div>
</span>

<span *ngIf="address$ | async as address" class="flex flex-col justify-center mr-2">
  <div class="flex flex-row px-4 py-2 bg-violet-100 text-violet-800 rounded-lg">
    <div class="text-xs flex font-sem flex-row items-center font-medium justify-center mr-2">
      <span class="font-medium text-gray-700">My address:</span>
      <span class="ml-1 flex flex-row items-center font-bold">
        {{ address$ | async }}
        <app-value-copy [value]="address"></app-value-copy>

      </span>  
    </div>
  </div>
</span>
</div>

