<div *ngIf="contractDeploymentRequest$ | async as deploymentRequest; else loadingScreen"
    class="h-full flex flex-row justify-center items-center">
    <ng-container *ngIf="issuer$ | async as issuer">
        <div class="max-w-lg bg-white p-8 rounded-2xl shadow-sm flex flex-col">
            <img class="w-full h-16 object-contain" src="{{issuer.infoData.logo | toUrlIPFS}}" alt="">
            <div *ngIf="deploymentRequest.status === 'PENDING'" class="mt-8 text-gray-700 flex flex-row">
                <div class="text-center mt-2">
                    <b class="mr-1">{{issuer.infoData.name}}</b>
                    is requesting you to deploy the following smart contract
                </div>
            </div>
            <div *ngIf="deploymentRequest.status === 'SUCCESS'" class="mt-8 text-gray-700 flex flex-row">
                <div class="text-center mt-2 leading-loose">
                    You have successfully deployed a smart contract as requested by
                    <b class="ml-1">{{issuer.infoData.name}}</b>
                </div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="rounded-lg text-center text-gray-700 font-medium">
                <div class="border border-gray-200 rounded-lg flex flex-col">
                    <div class="flex flex-row items-center py-1">
                        <div class="w-3/12 border-r uppercase border-white-200 py-2 font-semibold text-sm">
                            Type
                        </div>
                        <div class="w-9/12 py-2 text-sm">
                            {{deploymentRequest.contract_id}}
                        </div>
                    </div>
                    <div class="flex flex-row items-center border-t py-1 border-gray-200">
                        <div class="w-3/12 border-r uppercase border-gray-200 py-2 font-semibold text-sm">
                            Alias
                        </div>
                        <div class="w-9/12 py-2 text-sm">
                            {{deploymentRequest.alias}}
                        </div>
                    </div>
                    <div class="flex flex-row items-center border-t py-1 border-gray-200">
                        <div class="w-3/12 border-r uppercase border-gray-200 py-2 font-semibold text-sm">
                            Tags
                        </div>
                        <div class="w-9/12 py-2 text-sm">
                            {{deploymentRequest.contract_tags}}
                        </div>
                    </div>
                    <div class="flex flex-row items-center border-t py-1 border-gray-200">
                        <div class="w-3/12 border-r uppercase border-gray-200 py-2 font-semibold text-sm">
                            Status
                        </div>
                        <div class="w-9/12 px-2 py-1 text-sm">
                            <div class="py-2 px-2 text-xs rounded-lg"
                                [class.bg-amber-100]="deploymentRequest.status === 'PENDING'"
                                [class.border-amber-300]="deploymentRequest.status === 'PENDING'"
                                [class.text-amber-700]="deploymentRequest.status === 'PENDING'"
                                [class.bg-green-100]="deploymentRequest.status === 'SUCCESS'"
                                [class.border-green-300]="deploymentRequest.status === 'SUCCESS'"
                                [class.text-green-700]="deploymentRequest.status === 'SUCCESS'">
                                {{deploymentRequest.status}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="deploymentRequest.status === 'SUCCESS'" class="flex flex-row items-center border-t py-1 border-gray-200">
                        <div class="w-3/12 border-r uppercase border-gray-200 py-2 font-semibold text-sm">
                            Address
                        </div>
                        <div class="w-9/12 py-2 text-sm">
                            {{deploymentRequest.contract_address | addrShort}}
                            <app-explorer-link 
                                type="token"
                                [value]="deploymentRequest.contract_address"></app-explorer-link>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="address$ | async as address">
                <div *ngIf="deploymentRequest.deployer_address.toLowerCase() !== address.toLowerCase()">
                    <hr class="mt-4 mb-4">
                    <app-info-snippet type="DANGER" [content]="{ title: 'You cannot deploy this contract', sections: [
                        'This contract must be deployed by the owner of the wallet ' + deploymentRequest.deployer_address,
                        'If you are the owner of this wallet, please connect it now.'
                    ]}"></app-info-snippet>
                </div>
            </div>

            <hr class="mt-4 mb-4">

            <button app-action-button *ngIf="deploymentRequest.status === 'PENDING'" class="app-button"
                [onClick]="deployContract(deploymentRequest).bind(this)" text="Deploy"></button>
        </div>
    </ng-container>
</div>

<ng-template #loadingScreen>
    <div class="h-full w-full flex flex-row justify-center items-center">
        <div class="py-16 borde max-w-md w-full border border-gray-200 rounded-lg flex flex-row justify-center">
            <app-spinner></app-spinner>
        </div>
    </div>
    
</ng-template>