<div class="px-4 py-2 max-w-screen-lg mx-auto">
  <div class="bg-white my-8 p-6 rounded-4xl">
    <ng-container *ngIf="payouts$ | async as payoutsRes">
      <ng-container *ngIf="payoutsRes.value as payouts">
        <div *ngIf="payouts.length === 0" class="mt-4">No payouts</div>

        <div *ngIf="payouts.length > 0" class="flex flex-col gap-1 mt-4">
          <div *ngFor="let payout of payouts" class="bg-gray-100 rounded p-2">
            <div class="flex justify-between flex-wrap">
              <div class="flex gap-1 flex-wrap">
                <ng-container
                  *ngIf="
                    payout.asset
                      | assetData: 'tokenOnly'
                      | withStatus
                      | async as assetRes
                  "
                >
                  <ng-container *ngIf="assetRes.value as asset">
                    <div class="flex gap-0.5 items-baseline">
                      <span>{{ asset.tokenData.symbol }}</span>
                      <span class="text-sm">
                        {{ asset.tokenData.address | addrShort }}
                      </span>
                      <app-value-copy
                        [value]="asset.tokenData.address"
                      ></app-value-copy>
                      <app-explorer-link
                        [value]="asset.tokenData.address"
                        type="token"
                      >
                      </app-explorer-link>
                      <app-add-to-metamask [value]="asset.tokenData.address">
                      </app-add-to-metamask>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="assetRes.error">
                    <span>❌</span>
                    <div hidden>{{ assetRes.error | json }}</div>
                  </ng-container>

                  <ng-container *ngIf="assetRes.loading">
                    <app-spinner type="inline-xs"></app-spinner>
                  </ng-container>
                </ng-container>

                <ng-container
                  *ngIf="
                    payout.assetSnapshotBlockNumber
                      | blockTime
                      | withStatus
                      | async as blockTimeRes
                  "
                >
                  <ng-container *ngIf="blockTimeRes.value as blockTime">
                    <span>{{ blockTime | date: "short" }}</span>
                  </ng-container>

                  <ng-container *ngIf="blockTimeRes.error">
                    <span>Time ❌</span>
                    <div hidden>{{ blockTimeRes.error | json }}</div>
                  </ng-container>

                  <ng-container *ngIf="blockTimeRes.loading">
                    <app-spinner type="inline-xs"></app-spinner>
                  </ng-container>
                </ng-container>
              </div>

              <div class="flex gap-1 flex-wrap w-full justify-end md:w-auto">
                <div
                  class="rounded p-1 bg-red-600 text-white text-xs font-semibold uppercase"
                  *ngIf="payout.isCanceled"
                >
                  Canceled
                </div>

                <div
                  class="rounded p-1 bg-cyan-500 text-white text-xs font-semibold uppercase"
                  *ngIf="
                    payout.remainingRewardAmount.gt(bigNumberConstants.Zero)
                  "
                >
                  <span class=""> In progress </span>
                </div>

                <div
                  class="rounded p-1 bg-emerald-600 text-white text-xs font-semibold uppercase"
                  *ngIf="
                    !payout.isCanceled && payout.remainingRewardAmount.isZero()
                  "
                >
                  <span class=""> Finished </span>
                </div>

                <a
                  routerLink="{{ payout.payoutId }}"
                  class="rounded-full p-2 bg-cyan-500 text-white text-sm font-semibold uppercase flex items-center"
                >
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-2 h-2"
                  >
                    <path
                      d="M1 1.16602L6.83333 6.99935L1 12.8327"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="payoutsRes.error">
        Cannot fetch payouts.
        <div hidden>{{ payoutsRes.error | json }}</div>
      </ng-container>

      <ng-container *ngIf="payoutsRes.loading">
        Loading payouts...
      </ng-container>

      <div class="mt-4 flex gap-2">
        <button class="app-button" routerLink="snapshots">Snapshots</button>

        <button class="app-button" routerLink="claims">
          Claimable Payouts
        </button>
      </div>
    </ng-container>
  </div>
</div>
