<div class="max-w-6xl mx-auto px-4">
  <h1 class="text-xl py-2 -mx-4 px-4 bg-blue-50 md:bg-transparent md:text-3xl">
    — WALLET
  </h1>

  <app-wallet-connect *ngIf="(isLoggedIn$ | async) === false">
  </app-wallet-connect>

  <ng-container *ngIf="isLoggedIn$ | async">
    <div>
      Connected with: <span *ngIf="(authProvider$ | async) as authProvider">{{ authProvider }}</span>
    </div>
    <div>
      Address: <span *ngIf="(address$ | async) as address">{{ address }}</span>
    </div>

    <div *ngIf="(authProvider$ | async) === authProvider.VENLY">
      <button app-action-button
              class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
              [onClick]="manageWallets.bind(this)"
              text="Manage wallets">
      </button>
    </div>
  </ng-container>

  <button app-action-button
          class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
          [onClick]="showCurrentGasPrice.bind(this)"
          text="Show gas price">
  </button>

  <div class="mt-1">
    Gas:
    <app-inline-async [observable$]="gas$"></app-inline-async>
  </div>

  <div class="mt-1">
    Block number:
    <span *ngIf="(blockNumber$ | async | unwrapStatus) as blockNumber">
      {{ blockNumber }}
    </span>
  </div>

  <button class="mt-1 p-2 bg-blue-500 text-white rounded-md"
          *ngIf="isLoggedIn$ | async" (click)="logout()">
    Logout
  </button>
</div>
