<div class="">
  <div class="flex flex-row">
    <form class="w-7/12 pr-8 border-r" [formGroup]="newRequestSendForm">
      <div class="flex flex-col gap-2 mt-4">
        <label class="font-semibold text-gray-700" for="asset-address">
          Token
        </label>
        <small class="my-1 text-gray-700">Choose the token which you are requesting the payments in</small>
        <!-- <input class="border-gray-200 text-sm rounded-lg" type="text"
               formControlName="assetAddress" id="asset-address"
               autocomplete="off"> -->
        <div>
          <app-smart-input [formFinishedLoadingSub]="alwaysTrueSub"
            solidityType="address"
            [recommendedTypes]="['traits.erc20']"
            [rootForm]="newRequestSendForm"
            [formFinishedLoadingSub]="alwaysTrueSub"
            controlName="assetAddress"></app-smart-input>
        </div>
        
      </div>

      <ng-container *ngIf="(asset$ | async) as asset">
        <div class="flex items-baseline gap-1.5 flex-wrap mt-4">
        </div>

        <!-- Token box -->
        <div class="mt-5 bg-gray-100/20 border-gray-300/50 border-[1px] rounded-lg px-2 pb-1">
          <span class="flex justify-end mt-2 text-xxs font-medium text-gray-400">
            Amount of {{ asset.symbol }} you want to request
          </span>

          <div class="flex justify-between">
            <div class="flex items-center">
              <div class="flex rounded-full items-center bg-white shadow">
                <div class="w-7 h-7 bg-white rounded-full overflow-hidden m-1">
                  <img class="h-full w-full object-cover"
                       src="{{ asset.symbol | toStablecoinLogoPath }}"
                       alt="{{ asset.symbol }} logo">
                </div>

                <span class="ml-1 mr-3 font-medium whitespace-nowrap">
                  {{ asset.symbol }}
                </span>
              </div>
            </div>

            <input class="w-full py-0 pr-0 text-right bg-transparent border-none focus:ring-0 text-xl
                                text-ellipsis	placeholder:text-gray-400"
                   formControlName="tokenAmount"
                   appBigNumberInput bigNumberType="token"
                   [tokenPrecision]="asset.decimals">
          </div>

          <div class="flex">
            <div class="flex items-center min-h-[1rem] mt-2 flex-1">
              <ng-container *ngIf="newRequestSendForm?.invalid">
                <span class="text-red-600 text-xs font-semibold">
                  <ng-container *ngIf="newRequestSendForm.errors?.feeAboveTokenAmount">
                    The fee is above the given amount.
                  </ng-container>
                </span>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-2 mt-4">
          <label class="font-semibold text-gray-700" for="recipient-address">
            Receiver address
          </label>
          <small class="text-gray-700">The address to which the funds will be received</small>
          <!-- <input class="border-gray-200 text-sm rounded-lg" type="text"
                 formControlName="recipientAddress" id="recipient-address"
                 autocomplete="off"> -->
          <app-smart-input solidityType="address" [rootForm]="newRequestSendForm"
            [recommendedTypes]="[]" [formFinishedLoadingSub]="alwaysTrueSub" controlName="recipientAddress"></app-smart-input>
        </div>

        <div class="flex flex-col gap-2 mt-4">
          <label class="font-semibold text-gray-700" for="payment-note">
            Payment note (Optional)
          </label>
          <small class="text-gray-700">The note which will be shown to the person paying. This is a good place to put a link to an invoice.</small>
          <input class="border-gray-200 text-sm rounded-lg" type="text"
                 formControlName="paymentNote" id="payment-note"
                 autocomplete="off">
        </div>

        <div *ngIf="address$ | async as address" class="mt-4 flex flex-row justify-end">
          <button app-action-button
                  class="bg-violet-700 font-semibold px-12 py-2 text-sm uppercase text-white rounded-full"
                  [class.!bg-gray-700]="newRequestSendForm.invalid"
                  [disabled]="newRequestSendForm.invalid"
                  [onClick]="createRequest(asset, newRequestSendForm.controls.recipientAddress.value).bind(this)"
                  text="+ Create Payment Request">
          </button>
        </div>
      </ng-container>
    </form>
    <div class="w-5/12 pl-8">
        <app-info-snippet
          [type]="'INFO'"
          [content]="{ title: 'Payments are shareable', sections: [
            'When you create a payment request, you will receive a public link - which you can send to the person you want to do the payment'
          ]}">
        </app-info-snippet>

        <div class="my-2"></div>

        <app-info-snippet
          [type]="'INFO'"
          [content]="{ title: 'Smart payment requests', sections: [
            'Smart contracts can be the recipients of payment requests.',
            'For example - a PaymentSplitter contract can receive the payment and distribute it to multiple people'
          ]}"></app-info-snippet>
    </div>
  </div>
</div>