<ng-container *ngIf="data$ | async as data">
  <div class="max-w-sm text-gray-700">
    <div class="flex justify-center mt-2">
      <img
        *ngIf="data.icon === iconType.INFO"
        class="w-48 h-48 object-cover rounded-full"
        src="/assets/dialog-icons/info.png"
        alt="Info logo"
      />

      <img
        *ngIf="data.icon === iconType.SUCCESS"
        class="w-48 h-48 object-cover rounded-full"
        src="/assets/dialog-icons/success.png"
        alt="Success logo"
      />

      <img
        *ngIf="data.icon === iconType.ERROR"
        class="w-20 h-20 object-cover rounded-full"
        src="/assets/dialog-icons/error.png"
        alt="Error logo"
      />

      <img
        *ngIf="!!data.icon && !icons.includes(data.icon)"
        class="w-48 h-48 object-cover rounded-full"
        src="{{ data.icon }}"
        alt="Dialog logo"
      />
    </div>

    <div *ngIf="data.title" clas
    s="mt-4 px-4">
      <h1 class="text-2xl text-center">
        {{ data.title }}
      </h1>
    </div>

    <div class="px-4 py-8 text-center text-sm">
      <p>{{ data.message }}</p>
    </div>

    <div
      class="flex flex-col space-y-2 sm:space-x-4 sm:space-y-0 justify-center"
    >
      <button
        *ngIf="data.cancelable"
        (click)="cancel()"
        class="bg-gray-200 rounded-full p-2 text-sm font-semibold flex-1"
      >
        {{ data.cancel_text }}
      </button>

      <button
        app-action-button
        [text]="data.confirm_text"
        [onClick]="confirm(data.onConfirm).bind(this)"
        class="app-button !py-2 !text-sm flex-1"
      ></button>

      <button *ngIf="data.secondary_title as secondaryTitle" 
      (click)="secondaryAction(data.onSecondaryAction)"
      class="pt-4 !ml-0 cursor-pointer flex flex-row justify-center text-center text-sm font-semibold text-gray-500">
        <div class="text-center" (click)="data.onSecondaryAction">
          {{ secondaryTitle }}
        </div>
      </button>
      
    </div>
  </div>
</ng-container>
