<ng-container *ngIf="(data$ | async) as data">
  <div class="max-w-sm">
    <div class="flex justify-center mt-8">
      <svg *ngIf="data.icon === iconType.INFO" xmlns="http://www.w3.org/2000/svg"
           class="h-16 w-16 text-indigo-800"
           fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
      <svg *ngIf="data.icon === iconType.ERROR" xmlns="http://www.w3.org/2000/svg"
           class="h-16 w-16 text-indigo-800"
           fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>
    </div>

    <div *ngIf="data.title" class="mt-8 px-4">
      <h1 class="text-3xl text-center">
        {{ data.title }}
      </h1>
    </div>

    <div class="px-4 py-8">
      <p>{{ data.message }}</p>
    </div>

    <div class="flex flex-col space-y-2 sm:flex-row sm:space-x-4 sm:space-y-0 px-4 pb-8 justify-center">
      <button (click)="confirm()"
              class="bg-indigo-800 rounded-full p-2 text-sm font-semibold text-white flex-1">
        {{ data.confirm_text }}
      </button>

      <button *ngIf="data.cancelable" (click)="cancel()"
              class="bg-gray-200 rounded-full p-2 text-sm font-semibold flex-1">
        {{ data.cancel_text }}
      </button>
    </div>
  </div>
</ng-container>
