<ng-container *ngIf="!loading; else loadingTemplate">
  <ng-container *ngIf="content; else noContentTemplate">
    <div *ngTemplateOutlet="content"></div>
  </ng-container>

  <ng-template #noContentTemplate>
    <div class="flex justify-around">
      <div class="flex justify-start items-center">
        <img *ngIf="iconPath" class="h-8" src="{{ iconPath }}" alt="" srcset="">
        <span>{{ text }}</span>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loadingTemplate>
  <ng-container *ngIf="loadingContent; else noLoadingContent">
    <ng-container *ngTemplateOutlet="loadingContent"></ng-container>
  </ng-container>
  <ng-template #noLoadingContent>
    <div class="flex justify-around">
      <div class="flex justify-start items-center">
        <app-spinner class="inline-flex items-center">
        </app-spinner>
        <span *ngIf="loadingText" class="ml-2">
          {{ loadingText }}
        </span>
      </div>
    </div>
  </ng-template>
</ng-template>
