<ng-container *ngIf="(campaign$ | async) as campaignRes">
  <ng-container *ngIf="(assetData$ | async) as assetDataRes">
    <ng-container *ngIf="campaignRes.value && assetDataRes.value">
      <ng-container *ngIf="assetDataRes.value as assetData">
        <ng-container *ngIf="campaignRes.value as campaign">
          <app-admin-campaign-add-tokens [assetData]="assetData" [campaign]="campaign" [assetService]="ftAssetService">
          </app-admin-campaign-add-tokens>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="campaignRes.error || assetDataRes.error">
      <div class="w-full text-center mt-8">Cannot fetch campaign.</div>
      <div hidden>Campaign errors: {{ campaignRes.error | json }}</div>
      <div hidden>Asset errors: {{ assetDataRes.error | json }}</div>
    </ng-container>

    <ng-container *ngIf="campaignRes.loading && assetDataRes.loading">
      <app-spinner type="overlay">Loading campaign...</app-spinner>
    </ng-container>
  </ng-container>
</ng-container>
