<ng-container *ngIf="(campaign$ | async) as campaignRes">
  <ng-container *ngIf="(assetData$ | async) as assetDataRes">
    <ng-container *ngIf="campaignRes.value && assetDataRes.value">
      <app-admin-campaign-add-tokens [assetData]="assetDataRes.value" [campaign]="campaignRes.value"
                                     [assetService]="ftAssetService">
      </app-admin-campaign-add-tokens>
    </ng-container>

    <ng-container *ngIf="campaignRes.error || assetDataRes.error">
      <div class="w-full text-center mt-8">Cannot fetch campaign.</div>
      <div hidden>Campaign errors: {{ campaignRes.error | json }}</div>
      <div hidden>Asset errors: {{ assetDataRes.error | json }}</div>
    </ng-container>

    <ng-container *ngIf="(campaignRes.loading || assetDataRes.loading) && !campaignRes.error && !assetDataRes.error">
      <app-spinner type="overlay">Loading campaign...</app-spinner>
    </ng-container>
  </ng-container>
</ng-container>
