<div class="bg-slate-200 min-h-full w-full">
  <div class="px-4 py-2 max-w-screen-lg mx-auto">
    <div class="flex flex-col items-center gap-2 mt-4">
      <app-select-network class="mt-4"></app-select-network>
    </div>

    <ng-container *ngIf="(featuredAddrs$ | async)!.length > 0">
      <h2 class="text-lg font-semibold mt-4">
        Featured issuers
      </h2>

      <div *ngIf="featuredIssuers$ | async as featuredIssuersRes">
        <ng-container *ngIf="featuredIssuersRes.value as featuredIssuers">
          <div class="flex flex-col lg:flex-row lg:flex-wrap gap-4 mt-4" *ngIf="featuredIssuers.length > 0">
            <div class="flex flex-col w-full lg:w-56 lg:min-h-64 justify-start bg-white rounded-4xl"
                 *ngFor="let issuer of featuredIssuers">
              <div class="relative w-full">
                <img *ngIf="issuer.issuer.infoData.logo; else noImage" class="w-full h-32 object-contain rounded-t-4xl"
                     src="{{ issuer.issuer.infoData.logo | toUrlIPFS }}" alt="Issuer logo">
                <ng-template #noImage>
                  <div class="w-full h-32 bg-gray-200 rounded-t-4xl"></div>
                </ng-template>
              </div>
              <div class="flex flex-col gap-8 w-full h-full rounded-b-4xl p-4 justify-between">
                <div class="flex flex-wrap text-2xl">
                  <span>{{ issuer.issuer.infoData.name ?? 'Unknown' }}</span>
                </div>
                <div class="flex">
                  <button class="app-button flex gap-2 justify-center items-center w-full"
                          routerLink="." (click)="openIssuer(issuer)">
                    <span>Offers</span>
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.16602L6.83333 6.99935L1 12.8327" stroke="white" stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="featuredIssuers.length === 0" class="flex justify-center mt-4 text-cyan-700 text-lg">
            No featured issuers
          </div>
        </ng-container>

        <ng-container *ngIf="featuredIssuersRes.error">
          <div class="flex justify-center mt-4 text-cyan-700 text-lg">
            Cannot fetch feature issuers.
          </div>
          <div hidden>{{ featuredIssuersRes.error | json }}</div>
        </ng-container>

        <ng-container *ngIf="featuredIssuersRes.loading">
          <div class="w-full h-64 bg-gray-300 animate-pulse rounded-4xl mt-4">
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="(isLoggedIn$ | async) === true">
      <h2 class="text-lg font-semibold mt-4">
        My issuers
      </h2>

      <div *ngIf="myIssuers$ | async as myIssuersRes">
        <ng-container *ngIf="myIssuersRes.value as myIssuers">
          <div class="flex flex-col lg:flex-row lg:flex-wrap gap-4 mt-4" *ngIf="myIssuers.length > 0">
            <div class="flex flex-col w-full lg:w-56 lg:min-h-64 justify-start bg-white rounded-4xl"
                 *ngFor="let issuer of myIssuers">
              <div class="relative w-full">
                <img *ngIf="issuer.issuer.infoData.logo; else noImage" class="w-full h-32 object-contain rounded-t-4xl"
                     src="{{ issuer.issuer.infoData.logo | toUrlIPFS }}" alt="Issuer logo">
                <ng-template #noImage>
                  <div class="w-full h-32 bg-gray-200 rounded-t-4xl"></div>
                </ng-template>
              </div>
              <div class="flex flex-col gap-8 w-full h-full rounded-b-4xl p-4 justify-between">
                <div class="flex flex-wrap text-2xl">
                  <span>{{ issuer.issuer.infoData.name ?? 'Unknown' }}</span>
                </div>
                <div class="flex">
                  <button class="app-button flex gap-2 justify-center items-center w-full"
                          routerLink="." (click)="openIssuer(issuer)">
                    <span>Offers</span>
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1.16602L6.83333 6.99935L1 12.8327" stroke="white" stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="myIssuers.length === 0" class="flex justify-center mt-4 text-cyan-700 text-lg">
            No my issuers
          </div>
        </ng-container>

        <ng-container *ngIf="myIssuersRes.error">
          <div class="flex justify-center mt-4 text-cyan-700 text-lg">
            Cannot fetch my issuers.
          </div>
          <div hidden>{{ myIssuersRes.error | json }}</div>
        </ng-container>

        <ng-container *ngIf="myIssuersRes.loading">
          <div class="w-full h-64 bg-gray-300 animate-pulse rounded-4xl mt-4">
          </div>
        </ng-container>
      </div>
    </ng-container>

    <div class="my-8 flex justify-center">
      <app-add-button
        (click)="openCreateNewIssuer()"
        text="CREATE A NEW ISSUER"></app-add-button>
    </div>
  </div>
</div>
