<div class="w-full h-full flex justify-center mt-8 px-2 pb-8">
  <div class="w-full max-w-6xl">
    <div class="flex flex-col w-full bg-white rounded-4xl p-4 pt-8">
      <ng-container *ngIf="campaignDataWithStatus$ | async as campaignDataRes">
        <ng-container *ngIf="campaignDataRes.value as campaignData">
          <span class="text-2xl text-indigo-900">
            Funding {{ campaignData.campaign.infoData.name | uppercase }}
          </span>

          <div class="flex flex-col gap-4 mt-4 mb-8 lg:mb-0">
            <div class="flex flex-col lg:flex-row lg:items-center gap-2">
              <div class="flex flex-row gap-2 items-center">
                <span class="text-sm">To raise</span>
                <form [formGroup]="fundingForm">
                  <input
                    appCurrencyMask
                    class="border-gray-400 rounded-lg"
                    type="text"
                    formControlName="amount"
                  />
                </form>
              </div>

              <b class="text-sm mt-2 lg:mt-0">
                (min
                {{
                  minAmountToReachSoftCap(campaignData.stats)
                    | formatUnit: "stablecoin"
                    | currencyDefault
                }}, max
                {{
                  maxFundingAmount(campaignData)
                    | formatUnit: "stablecoin"
                    | currencyDefault
                }})
              </b>

              <div
                class="flex flex-row gap-2 items-center mt-2 lg:mt-0 lg:justify-around"
              >
                <span class="text-sm">I will sell</span>
                <b class="lg:text-center">{{
                  tokensPercentage(campaignData) | percent: "1.0-2"
                }}</b>
                <span class="text-sm"
                  >of my {{ campaignData.asset.name | uppercase }} tokens</span
                >
              </div>

              <div
                class="flex flex-row gap-2 items-center mt-2 lg:mt-0 lg:justify-around"
              >
                <span class="text-sm">with price per token:</span>
                <b class="lg:text-center">{{
                  campaignData.stats.tokenPrice
                    | formatUnit: "tokenPrice"
                    | currencyDefault: "tokenPrice"
                }}</b>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-2 min-h-[1rem] mt-2">
            <ng-container *ngIf="fundingForm.dirty && fundingForm.invalid">
              <span class="text-red-600 text-xs font-semibold">
                <ng-container *ngIf="fundingForm.errors?.amountBelowZero">
                  The amount must be a positive value.
                </ng-container>

                <ng-container *ngIf="fundingForm.errors?.amountBelowMin">
                  The amount must be greater or equal to minimum value.
                </ng-container>

                <ng-container *ngIf="fundingForm.errors?.amountAboveMax">
                  The amount must be less or equal to maximum value.
                </ng-container>
              </span>
            </ng-container>
          </div>

          <div
            class="flex flex-col lg:flex-row justify-center lg:justify-end mt-8"
          >
            <button
              app-action-button
              class="flex items-center justify-center gap-4 bg-indigo-800 disabled:bg-gray-400 text-white px-24 py-2 rounded-full"
              text="Fund campaign"
              [disabled]="!fundingForm.valid"
              [onClick]="addTokens(campaignData).bind(this)"
            ></button>
          </div>
        </ng-container>

        <ng-container *ngIf="campaignDataRes.error">
          Cannot fetch campaign data.
          <div hidden>{{ campaignDataRes.error | json }}</div>
        </ng-container>

        <ng-container *ngIf="campaignDataRes.loading">
          <app-spinner type="overlay">Loading campaign data</app-spinner>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
