<div
  class="w-full rounded-2xl flex-col justify-between bg-white p-4 mb-4 lg:p-8 flex lg:flex-row lg:items-end"
>
  <div class="flex flex-col w-full">
    <a routerLink="." (click)="toggle()">
      <div class="flex flex-row justify-between items-center">
        <div class="font-semibold text-lg lg:text-2xl">{{ question }}</div>
        <div class="flex items-center justify-center">
          <svg
            class="transition-all duration-300"
            [class.rotate-180]="toggled"
            width="16"
            height="9"
            viewBox="0 0 16 9"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 1L8 8L1 1"
              stroke="#3F3F46"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </a>
    <div
      class="text-base overflow-hidden transition-all ease-in-out duration-300"
      [class]="toggled ? 'pt-8' : 'max-h-0 invisible'"
    >
      <ng-content></ng-content>
    </div>
  </div>
</div>
