<div class="max-w-6xl mx-auto px-4">
  <h1 class="text-xl py-2 -mx-4 px-4 bg-blue-50 md:bg-transparent md:text-3xl">
    — OFFERS
  </h1>

  <div class="flex flex-col mt-2 justify-center items-center">
    <span *ngIf="(address$ | async) as address">address: {{ address }}</span>

    <button app-action-button
            class="bg-blue-500 disabled:bg-gray-400 text-white p-2 rounded-md mt-2"
            text="Sign Message"
            loadingText="Signing message..."
            [onClick]="signMessage.bind(this)">
    </button>
  </div>
</div>
