<div class="w-full h-full flex justify-center mt-8 px-2 pb-8">
  <div class="w-full max-w-6xl">
    <div class="flex flex-col lg:flex-row w-full bg-white shadow-xl rounded-4xl p-4 pt-8">
      <div class="contents lg:block lg:w-2/3">
        <div class="flex flex-col gap-4 order-1">
          <span class="text-3xl uppercase mb-6">{{ campaign.name }}</span>

          <app-funding-progress class="lg:w-2/3" [campaign]="campaign"></app-funding-progress>

          <div>
            <button class="flex items-center justify-between gap-4 px-4 py-0.5 mt-4 bg-blue-200 text-sm
                         hover:bg-indigo-800 hover:text-white break-all rounded-full transition-all duration-300">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.6933 3.36027L14.64 6.30694M12.9433 2.11027C13.3341 1.71952 13.8641 1.5 14.4167
                         1.5C14.9693 1.5 15.4992 1.71952 15.89 2.11027C16.2808 2.50103 16.5003 3.031 16.5003
                         3.58361C16.5003 4.13621 16.2808 4.66619 15.89 5.05694L4.41667 16.5303H1.5V13.5536L12.9433
                         2.11027Z"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>Edit campaign info</span>
            </button>
          </div>

          <div>
            <button class="flex items-center justify-between gap-4 px-4 py-0.5 bg-blue-200 text-sm hover:bg-indigo-800
                         hover:text-white break-all rounded-full transition-all duration-300">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6 1V6M6 6V11M6 6H11M6 6H1" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"/>
              </svg>
              <span>Increase fundraising amount</span>
            </button>
          </div>

          <div class="flex flex-col gap-2 text-sm p-4 mt-2 bg-gray-100 rounded-lg">
            <span>Raising: <b>{{ campaignData.stats.valueTotal | currencyDefault }}</b></span>
            <span>Selling: <b>{{ hardCapTokensPercentage | percent }} of asset shares</b></span>
            <span>Min. Target (Soft Cap): <b>{{ campaignData.stats.softCap | currencyDefault }}</b></span>
            <span>Asset share to reach Min. Target: <b>{{ softCapTokensPercentage | percent }}</b></span>
          </div>
        </div>

        <div class="flex flex-col gap-4 mt-8 order-3">
          <span class="text-2xl text-indigo-900">Main image</span>

          <div>
            <img *ngIf="campaign.photo; else noImage" class="w-full h-72 object-cover"
                 [src]="campaign.photo | toUrlIPFS" alt="Campaign Logo">
            <ng-template #noImage>
              <div class="w-full h-72 bg-gray-200"></div>
            </ng-template>
          </div>

          <span class="text-2xl text-indigo-900">Campaign URL</span>

          <a [href]="campaignData.url" target="_blank" rel="noopener noreferrer" class="break-all">
            {{ campaignData.url }}
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"
                 class="inline">
              <path d="M6.3335 3.00065H3.00016C2.55814 3.00065 2.13421 3.17625 1.82165 3.48881C1.50909 3.80137 1.3335
                     4.22529 1.3335 4.66732V13.0006C1.3335 13.4427 1.50909 13.8666 1.82165 14.1792C2.13421 14.4917
                     2.55814 14.6673 3.00016 14.6673H11.3335C11.7755 14.6673 12.1994 14.4917 12.512 14.1792C12.8246
                     13.8666 13.0002 13.4427 13.0002 13.0006V9.66732M9.66683 1.33398H14.6668M14.6668
                     1.33398V6.33398M14.6668 1.33398L6.3335 9.66732"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>

          <span class="text-2xl text-indigo-900">Short description</span>

          <span class="text-lg text-gray-700 font-semibold">{{ campaign.about }}</span>

          <span class="text-2xl text-indigo-900">Main description</span>

          <quill-view class="ql-editor-override" [content]="campaign.description" format="html"
                      (onEditorCreated)="quillMods($event)"></quill-view>
        </div>
      </div>

      <div class="contents lg:block lg:w-1/3 lg:ml-24">
        <div class="flex flex-col gap-4 mt-4 lg:mt-0 order-2">
          <button app-action-button
                  class="flex items-center justify-center gap-4 bg-indigo-800 disabled:bg-gray-400 text-white
                       mt-2 px-24 py-2 rounded-full"
                  text="Finalize campaign"
                  [disabled]="true">
          </button>

          <div class="flex flex-col gap-2 text-sm p-4 mt-2 bg-gray-100 rounded-lg">
            <span class="text-2xl text-indigo-900 my-2">Asset & Token</span>
            <span>Asset: <b>{{ asset.name }}</b></span>
            <span>Price per token: <b>{{ campaignData.stats.tokenPrice | currencyDefault }}</b></span>
            <span>Tokens sold: <b>{{ campaignData.stats.tokensSold }}</b></span>
            <span>Token balance: <b>{{ campaignData.stats.tokensAvailable}}</b></span>

            <span class="text-2xl text-indigo-900 my-2">Investors</span>
            <span *ngIf="shouldShowMin">
            Min investment: <b>{{ campaign.minInvestment | formatUnit:'bignumToWei' | currencyDefault }}</b>
          </span>
            <span *ngIf="shouldShowMax">
            Max investment: <b>{{ campaign.maxInvestment | formatUnit:'bignumToWei' | currencyDefault }}</b>
          </span>
            <span>Returning profits: <b>{{ returnFrequency }}</b></span>
            <span *ngIf="isReturningProfits">Return for investors: <b>{{ returnValue }}</b></span>
            <span>
            ID verification for investors: <b>{{ campaign.whitelistRequired ? 'Required' : 'Not Required' }}</b>
          </span>
            <span>Total investor count: <b>{{ campaign.totalInvestorsCount }}</b></span>
            <span>Total claim count: <b>{{ campaign.totalClaimsCount }}</b></span>

            <span class="text-2xl text-indigo-900 my-2">Addresses</span>
            <span>
            Campaign address: {{ campaign.contractAddress | addrShort }}
              <app-value-copy [value]="campaign.contractAddress"></app-value-copy>
          </span>
            <span>
            Issuer address: {{ campaign.issuer | addrShort }}
              <app-value-copy [value]="campaign.issuer">
          </app-value-copy>
          </span>
            <span>
            Asset address: {{ campaign.asset | addrShort }}
              <app-value-copy [value]="campaign.asset"></app-value-copy>
          </span>
            <span>
            Owner address: {{ asset.owner | addrShort }}
              <app-value-copy [value]="campaign.owner"></app-value-copy>
          </span>
            <span>
            Created by address: {{ asset.createdBy | addrShort }}
              <app-value-copy [value]="campaign.createdBy"></app-value-copy>
          </span>
          </div>
        </div>

        <div class="flex flex-col gap-4 mt-8 order-4">
          <ng-container *ngIf="campaign.documents.length > 0">
            <div class="text-lg uppercase font-light">Project Documents</div>
            <div *ngFor="let document of campaign.documents" class="mt-4 flex items-center">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 20V21C8 21.7956 8.31607 22.5587 8.87868 23.1213C9.44129 23.6839 10.2044 24 11
                         24H21C21.7956 24 22.5587 23.6839 23.1213 23.1213C23.6839 22.5587 24 21.7956 24 21V20M20
                         16L16 20M16 20L12 16M16 20V8"
                      stroke="#3730A3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <a class="ml-3 text-sm" href="{{ document.location | toUrlIPFS }}"
                 target="_blank" rel="noopener noreferrer">
                {{ document.name | truncate:30:false:true }}
              </a>
            </div>
          </ng-container>

          <ng-container *ngIf="campaign.newsURLs.length > 0">
            <div class="mt-10 text-lg uppercase font-light">Related News</div>
            <ng-container *ngIf="links$ | async as linksRes">
              <div class="flex flex-col mt-2 px-4 bg-gray-100 rounded-lg divide-y-2">
                <ng-container *ngIf="linksRes.value as linksRes">
                  <ng-container *ngIf="linksRes.value as links">
                    <div *ngFor="let link of links" class="py-4">
                      <a href="{{ link.url }}" class="text-lg" target="_blank" rel="noopener noreferrer">
                        <ng-container *ngIf="link.open_graph?.title; else showURL">
                          {{ link.open_graph!.title! | truncate:140:true }}
                        </ng-container>
                        <ng-template #showURL>
                          {{ link.url | truncate:40:true }}
                        </ng-template>
                      </a>

                      <div *ngIf="link.open_graph?.image?.url" class="mt-2">
                        <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                          <img src="{{ link.open_graph!.image!.url }}"
                               class="max-h-60" alt="Related news photo">
                        </a>
                      </div>

                      <div *ngIf="link.open_graph?.description" class="mt-2 text-sm">
                        {{ link.open_graph!.description! | truncate:280:true }}
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="linksRes.error">
                  Cannot fetch related news.
                  <div hidden>{{ linksRes.error | json }}</div>
                </ng-container>

                <ng-container *ngIf="linksRes.loading">
                  Loading related news
                  <app-spinner type="inline-xs"></app-spinner>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
