<ng-container *ngIf="type === 'inline-xs'">
  <ng-container *ngTemplateOutlet="inlineXs"></ng-container>
</ng-container>

<ng-container *ngIf="type === 'inline-base'">
  <ng-container *ngTemplateOutlet="inlineBase"></ng-container>
</ng-container>

<ng-container *ngIf="type === 'overlay'">
  <ng-container *ngTemplateOutlet="overlay"></ng-container>
</ng-container>

<ng-template #inlineXs>
  <span class="inline-flex">
    <svg class="animate-spin h-3 w-3 text-cyan-700" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
      </path>
    </svg>
  </span>
</ng-template>

<ng-template #inlineBase>
  <span class="inline-flex">
    <svg class="animate-spin h-4 w-4 text-cyan-700" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
      </path>
    </svg>
  </span>
</ng-template>

<ng-template #overlay>
  <div class="flex-col justify-center my-40">
    <div class="flex justify-center">
      <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
    </div>
    <div class="flex justify-center font-semibold text-cyan-700 mt-10">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
